{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Staff</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>View/Modify Application</p>
                                    </div>
                                    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> Language Specific Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                    <li class="nav-item">
                                                        <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                    <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="fullname">Full name</label>
                                                            <div class="col-md-9">
                                                                <input type="text" id="fullname" class="form-control" placeholder="Fullname" name="{{ language.key }}[fullname]" value="{{ item.languageData(language.key).fullname }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="role">Role</label>
                                                            <div class="col-md-9">
                                                                <input type="text" id="role" class="form-control" placeholder="Role" name="{{ language.key }}[role]" value="{{ item.languageData(language.key).role }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="summary">Summary</label>
                                                            <div class="col-md-9">
                                                                <textarea type="text" id="summary" class="form-control" placeholder="Summary" name="{{ language.key }}[summary]" value="">{{ item.languageData(language.key).summary(false) }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>


                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="email">Email (keep empty if don't want to make it public)</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="email" name="email" class="form-control" value="{{ item.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Image</label>
                                                <div class="col-md-9">
                                                    <label class="custom-file center-block block">
                                                        <input type="file" id="file" name="image" class="custom-file-input">
                                                        <span class="custom-file-control"></span>
                                                    </label>
                                                    {% if item.image %}
                                                        <img src="{{ asset('uploads/staff/' ~ item.image) }}" width="100">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="linkedin">LinkedIn</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="linkedin" name="linkedin" class="form-control" value="{{ item.linkedinLink }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="instagram">Instagram</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="instagram" name="instagram" class="form-control" value="{{ item.instagramLink }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary mr-1">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}