<html>
<head>
{% include ':block:header.block.html.twig' %}
</head>
<body>
{% include ':block:header.menu.block.html.twig' %}
<header class="c-header c-header__static" {% if page.background %}style="background-image: url('{{ asset('uploads/static-page/' ~ page.background) }}')"{% endif %}>
    <div class="c-header--overlay"></div>
    <div class="container">
        <div class="c-header--title"><h1>{{ page.languageData(app.request.locale).title }}</h1></div>
        <div class="c-header--subtitle"><h2>{{ page.languageData(app.request.locale).caption }}</h2></div>
    </div>
</header>
<main>
    <!--General Information-->
    <section class="c-section c-section__static">
        <div class="container">
            {% block main %}{% endblock %}
        </div>
        {% block gallery %}{% endblock %}
    </section>

    {% include ':block:partners.block.html.twig' %}

</main>
{% include ':block:footer.block.html.twig' %}
</body>
{% include ':block:footer.resources.block.html.twig' %}
{% block localJS %}{% endblock %}
</html>