<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "@id": "https://www.langehouse.se",
        "name" : "Langedrag Housekeeping",
        "description": "{{ "seo-description" | translate('seo', 'textarea') }}",
        "url" : "https://www.langehouse.se/",
        "logo": "{{ absolute_url('/front/media/images/logo/logo_original_color.png') }}",
        "foundingDate": "2019",
        "founders": [
            {
                "@type": "Person",
                "name": "Deniss Zotov"
            },
            {
                "@type": "Person",
                "name": "Julia Zotova"
            }
        ],
        "sameAs" : [
            "https://www.facebook.com/langedraghousekeeping/",
            "https://www.instagram.com/lange_house/"
        ],
        "sponsor":
        {
            "@type": "Organization",
            "name": "Innowait Solutions Ltd",
            "url": "https://www.innowait.solutions/"
        }
    }
</script>