{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Business General Information</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Logo</label>
                                                <div class="col-md-9">
                                                    <label class="custom-file center-block block">
                                                        <input type="file" id="image" name="image" class="custom-file-input">
                                                        <span class="custom-file-control"></span>
                                                    </label>
                                                    {% if items | length > 0 and items[0].logo %}
                                                        <img src="{{ asset('uploads/misc/' ~ item.logo) }}" width="100">
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Social Links</label>
                                                <div class="col-md-9">
                                                    <table class="table">
                                                        <tr>
                                                            <td>Facebook:</td>
                                                            <td><input type="url" {% if items[0].socialLinks['facebook'] is defined %}value="{{ items[0].socialLinks['facebook'] }}"{% endif %} class="form-control" name="socials[facebook]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Instagram:</td>
                                                            <td><input type="url" {% if items[0].socialLinks['instagram'] is defined %}value="{{ items[0].socialLinks['instagram'] }}"{% endif %} class="form-control" name="socials[instagram]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Youtube:</td>
                                                            <td><input type="url" {% if items[0].socialLinks['youtube'] is defined %}value="{{ items[0].socialLinks['youtube'] }}"{% endif %} class="form-control" name="socials[youtube]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>LinkedIn:</td>
                                                            <td><input type="url" {% if items[0].socialLinks['linkedin'] is defined %}value="{{ items[0].socialLinks['linkedin'] }}"{% endif %} class="form-control" name="socials[linkedin]"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Working Hours</label>
                                                <div class="col-md-9">
                                                    <table>
                                                        <tr>
                                                            <td>Monday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['monday'] is defined %}{{ items[0].workingHours['monday']['start'] }}{% endif %}" name="monday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['monday'] is defined %}{{ items[0].workingHours['monday']['finish'] }}{% endif %}" name="monday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tuesday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['tuesday'] is defined %}{{ items[0].workingHours['tuesday']['start'] }}{% endif %}" name="tuesday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['tuesday'] is defined %}{{ items[0].workingHours['tuesday']['finish'] }}{% endif %}" name="tuesday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Wednesday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['wednesday'] is defined %}{{ items[0].workingHours['wednesday']['start'] }}{% endif %}" name="wednesday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['wednesday'] is defined %}{{ items[0].workingHours['wednesday']['finish'] }}{% endif %}" name="wednesday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thursday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['thursday'] is defined %}{{ items[0].workingHours['thursday']['start'] }}{% endif %}" name="thursday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['thursday'] is defined %}{{ items[0].workingHours['thursday']['finish'] }}{% endif %}" name="thursday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Friday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['friday'] is defined %}{{ items[0].workingHours['friday']['start'] }}{% endif %}" name="friday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['friday'] is defined %}{{ items[0].workingHours['friday']['finish'] }}{% endif %}" name="friday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Saturday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['saturday'] is defined %}{{ items[0].workingHours['saturday']['start'] }}{% endif %}" name="saturday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['saturday'] is defined %}{{ items[0].workingHours['saturday']['finish'] }}{% endif %}" name="saturday[finish]"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sunday:</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['sunday'] is defined %}{{ items[0].workingHours['sunday']['start'] }}{% endif %}" name="sunday[start]"></td>
                                                            <td>-</td>
                                                            <td><input type="time" class="form-control" value="{% if items[0].workingHours['sunday'] is defined %}{{ items[0].workingHours['sunday']['finish'] }}{% endif %}" name="sunday[finish]"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Business Email</label>
                                                <div class="col-md-9">
                                                    <input type="email" class="form-control" name="email" value="{{ items[0].workingEmail }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="image">Business Phone</label>
                                                <div class="col-md-9">
                                                    <input type="tel" class="form-control" name="phone" value="{{ items[0].workingPhone }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <script>
        $(".summernote").summernote({
            height: 300,
        });
        $("form").on('submit', function () {
            $(".summernote").each(function (index, item) {
                var item = $(this);
                item.val(item.summernote('code'));
            });
        });
    </script>
{% endblock %}