{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">{{ caption }}</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a href="{{ url('app_admin_section_add', {'section': section}) }}"><i class="ft-plus"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block card-dashboard">
                                <p>Manage your Showrooms here</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Slug</th>
                                        <th>Image</th>
                                        <th>Products</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ item.languageData(locale).name }}</td>
                                        <td>{{ item.languageData(locale).slug }}</td>
                                        <td><img src="{{ asset('uploads/showroom/' ~ item.image) }}" width="64"></td>
                                        <td>{{ item.catalogItems | length }}</td>
                                        <td>
                                            <a href="{{ url('app_admin_section_edit', {'section': section, 'id': item.id}) }}">
                                                <div class="btn btn-success btn-sm"><i class="ft-edit"></i> Edit</div>
                                            </a>
                                            <a href="{{ url('app_admin_section_delete', {'section': section, 'id': item.id}) }}">
                                                <div class="btn btn-danger btn-sm"><i class="ft-trash-2"></i> Delete</div>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}