{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Catalog Item</p>
                                    </div>
                                    <form class="form form-horizontal submit-form" data-id="{{ item.id }}" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> Language Specific Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="name">Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="name" class="form-control" placeholder="Name" name="{{ language.key }}[name]" value="{{ item.languageData(language.key).name }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="description">Description</label>
                                                        <div class="col-md-9">
                                                            <textarea type="text" id="description" class="form-control" placeholder="Description" name="{{ language.key }}[description]">{{ item.languageData(language.key).description }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="name"></label>
                                                <div class="col-md-9">
                                                    <label>Status</label>
                                                    <select class="form-control" name="status">
                                                        <option {% if item.status == 'INITIATED' %}selected="selected"{% endif %} value="INITIATED">In Process of Initiation</option>
                                                        <option {% if item.status == 'WORKING' %}selected="selected"{% endif %} value="WORKING">In Development</option>
                                                        <option {% if item.status == 'FINISHED' %}selected="selected"{% endif %} value="FINISHED">Finished</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="start"></label>
                                                <div class="col-md-9">
                                                    <label>Started project</label>
                                                    <input name="start" type="date" {% if item.startedAt %}value="{{ item.startedAt | date('Y-m-d') }}"{% endif %}  class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="finish"></label>
                                                <div class="col-md-9">
                                                    <label>Finished project</label>
                                                    <input name="finish" type="date" {% if item.finishedAt %}value="{{ item.finishedAt | date('Y-m-d') }}"{% endif %} class="form-control">
                                                    <input type="checkbox" name="ongoing"> Ongoing
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="finish"></label>
                                                <div class="col-md-9">
                                                    <label>Location (click on map to put location, be as specific as possible by zooming)</label>
                                                    <div id="map" style="height: 400px; width: 100%;"></div>
                                                    <input name="lat" type="hidden" value="{{ item.lat }}">
                                                    <input name="lng" type="hidden" value="{{ item.lng }}">
                                                </div>
                                            </div>
                                            {% if item.id %}
                                                <h4 class="form-section"><i class="ft-user"></i> Gallery</h4>
                                                <div class="media dropzone" data-url="{{ url('app_project_media_upload', { id: item.id }) }}">
                                                    <div class="dz-message">Drop files here or click to upload.
                                                    </div>
                                                </div>
                                                <div class="card-body collapse in">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-primary">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Image</th>
                                                                <th>Name</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for media in item.projectMedia %}
                                                                <tr>
                                                                    <th scope="row">{{ loop.index }}</th>
                                                                    <td><img width="50" src="{{ asset('uploads/testimonial/thumb_' ~ media.media.filename) }}"></td>
                                                                    <td>{{ media.media.filename }}</td>
                                                                    <td>
                                                                        <div class="btn btn-danger btn-sm delete-media" data-url="{{ url('app_project_media_delete', {'media': media.id, 'testimonial': item.id}) }}"><i class="fa fa-trash"></i></div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <link type="text/css" rel="stylesheet" href="{{ asset('back/app-assets/vendors/js/dropzone/dropzone.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('back/app-assets/vendors/js/dropzone/basic.min.css') }}">
    <script src="{{ asset('back/app-assets/vendors/js/dropzone/dropzone.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8l0h_JSMTiYsSGw5ymxaHM8zCo-LOczw" defer></script>
    <script>
        $(document).ready(function () {
            var mediaBlock = $(".media");
            if (mediaBlock.length > 0) {
                mediaBlock.dropzone({
                    url: mediaBlock.data('url'),
                });
            }
            
            $(".delete-media").click(function () {
                var deleteButton = $(this);
                var url = deleteButton.data('url');

                $.ajax({
                    url: url,
                    success: function (response) {
                        if (response.success) {
                            deleteButton.parent().parent().remove();
                        }
                    }
                });
            });

            $("input[name='ongoing']").change(function () {
                var inputBlock = $("input[name='ongoing']");
                var finishedBlock = $("input[name='finish']");
                if (inputBlock.is(':checked')) {
                    finishedBlock.val('');
                }
            });
            var marker;
            // The location of Uluru
            var lat = parseFloat($("input[name='lat']").val());
            var lng = parseFloat($("input[name='lng']").val());

            var uluru = {lat: 52.944059, lng: -2.4221312};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 7, center: uluru});
            // The marker, positioned at Uluru

            if (lat && lng && lat != '' && lng != '') {
                var m = {
                    lat: lat,
                    lng: lng
                };
                map.setCenter(m);
                addMarker(m, map);
            }

            google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
            });

            function addMarker(location, map) {
                if (marker && marker !== undefined) {
                    marker.setMap(null);
                }

                marker = new google.maps.Marker({
                    position: location,
                    label: '!',
                    map: map
                });

                if (typeof location['lat'] == 'function') {
                    $("input[name='lat']").val(location.lat());
                    $("input[name='lng']").val(location.lng());
                } else {
                    $("input[name='lat']").val(location.lat);
                    $("input[name='lng']").val(location.lng);
                }
            }
        });
    </script>
{% endblock %}