<!DOCTYPE HTML>
<html lang="{{ app.request.locale }}">
<head>
    {% block seoBlock %}
        <title>Stragov Jewelry - JEWELRY IS NOT DESIGNED TO CAUSE ENVY - AT BEST AMAZEMENT.</title>
        <meta name="description" content="Stragov Jewelry - Best Jewelry saloon in Riga Latvia. Ring, pendant, watch, bracelet and much more.">
        <meta name="keywords" content="stragov, jewelry, riga, latvia, ring, pendant, watch, bracelet, wedding">
        <meta property="og:type" content="website" />
    {% endblock %}
    {% include ':block:header.block.html.twig' %}
    {% block localCSS %}
    {% endblock %}
</head>
<body style="background-image: url('{% block customBackground %}{{ asset('front/images/bg/main-bg2.jpg') }}{% endblock %}'); background-size: cover;" data-language="{{ app.request.locale }}">

<!-- Page Wrapper -->
<div id="page-wrapper">
    {% include ':block:header.menu.block.html.twig' %}
    <!-- Wrapper -->
    <section id="wrapper">
        {% block main %}
        {% endblock %}
    </section>

    {% include ':block:footer.block.html.twig' %}
</div>
<div id="preview" class="modal fade c-preview" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>

    </div>
</div>

{% include ':block:footer.resources.block.html.twig' %}
<!-- Scripts -->
<script src="{{ asset('front/assets/js/skel.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ asset('front/js/lightbox.js') }}"></script>
<script src="{{ asset('front/dist/internal.min.js') }}"></script>
<!--[if lte IE 8]><script src="{{ asset('front/assets/js/ie/respond.min.js') }}"></script><![endif]-->
{% block localJS %}
    <script>
        $(document).delegate("img,.works--work", "contextmenu", function (e) {
            e.stopPropagation();
            e.preventDefault();
        });
    </script>
{% endblock %}
<script>
</script>
</body>
</html>