<!DOCTYPE HTML>
<html lang="{{ app.request.locale }}">
<head>
    <meta  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Liquidec - Liquid Wallpapers - {{ category.languageData(app.request.locale).name }} Catalogue">
    <title>{{ category.languageData(app.request.locale).name }} - LiquiDec</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">

    <link href="{{ asset('front/dist/style.scss') }}" rel="stylesheet" media="screen">
</head>
<body>

<!-- Loader -->

<div class="loader">
    <div class="page-lines">
        <div class="container">
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="loader-brand">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

<header id="top" class="header-inner">
    {% include ':block:header.block.html.twig' with { static: true } %}
</header>

<!-- Layout -->

<div class="layout">

    <!-- Home -->

    <main class="main main-inner bg-about" data-stellar-background-ratio="0.6">
        <div class="container">
            <header class="main-header">
                <h1 class="hidden">Liquid Wallpapers - {{ category.languageData(app.request.locale).name }}</h1>
                <h2 class="h1">{{ category.languageData(app.request.locale).name }}</h2>
            </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </main>

    <div class="content">

        <!-- Services -->

        <section id="services" class="services section no-margin-top">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span class="text-primary">Products</span></h2>
                    <h5 class="text-center large-margin">Liquidec provides different types of TOP Quality Liquid Wallpapers, check out {{ category.languageData(app.request.locale).name }} product line!</h5>
                    <p class="text-center">{{ category.languageData(app.request.locale).description }}</p>
                </header>
                <div class="section-content">
                    <div class="products row">
                        {% for product in category.items %}
                            <div class="col-md-3 col-xs-12">
                                {% include ':block:product.block.html.twig' with { product: product, category: category } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Contacts -->

        {% include ':block:contacts.block.html.twig' %}

        <!-- Footer -->

        {% include ':block:footer.block.html.twig' %}

    </div>
</div>

<!-- SCRIPTS -->
</body>
{% include ':block:footer.resources.block.html.twig' %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "url": "{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}",
        "numberOfItems": "{{ category.items | length }}",
        "itemListElement": [
            {% for key, product in category.items %}
            {
                "@type": "ListItem",
                "item": {
                    "@type": "Product",
                    "url": "{{ url('app_catalog_item_single', {'category': category.languageData(app.request.locale).slug, slug: product.languageData(app.request.locale).slug }) }}?ref={{ key }}",
                    "image": "{{ absolute_url('/uploads/catalog-item/small_' ~ product.image) }}",
                    "name": "{{ product.languageData(app.request.locale).name }}",
                    "productID": "{{ product.languageData(app.request.locale).slug }}",
                    "gtin": "{{ product.languageData(app.request.locale).slug }}",
                    "category": "{{ product.category.languageData(app.request.locale).name }}",
                    "sku": "{{ product.languageData(app.request.locale).slug }}",
                    "description": "{{ product.category.languageData(app.request.locale).name }} Liquid Wallpaper for Luxury Decoration",
                    "brand": {
                        "@type": "Brand",
                        "logo": "{{ absolute_url('/front/media/logo-v3-small.png') }}",
                        "slogan": "Liquid Wallpapers in UK",
                        "name": "Liquidec"
                    },
                    "offers": {
                        "@type": "Offer",
                        "price": "{{ product.price | number_format(2) }}",
                        "priceCurrency": "GBP",
                        "availability": "http://schema.org/InStock",
                        "priceValidUntil": "{{ '+1 year' | date('Y-m-d H:i:s') }}"
                    },
                    "aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "5",
                        "reviewCount": "4"
                    },
                    "review": [
                        {
                            "@type": "Review",
                            "author": "Liquidec ",
                            "datePublished": "{{ '-1 month' | date('Y-m-d H:i:s') }}",
                            "description": "Best Liquid Wallpapers on the market!",
                            "name": "Very high quality product!",
                            "reviewRating": {
                                "@type": "Rating",
                                "bestRating": "5",
                                "ratingValue": "5",
                                "worstRating": "1"
                            }
                        }
                    ]
                },
                "position": "{{ key+1 }}"
            }{% if key < (category.items | length)-1 %}, {% endif %}
            {% endfor %}
        ]
    }
</script>
<script>
    $(".submenu").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        var link = $(this);
        var id = link.data('id');
        var submenu = $(".submenu-block[data-id='"+id+"']");
        submenu.toggleClass('submenu-block__active');
        submenu.css({
            'left': link.offset().left - 40,
            'top': 80
        });
    });
</script>
</html>