<!DOCTYPE HTML>
<html lang="{{ app.request.locale }}">
<head>
    <meta  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ showroom.languageData(app.request.locale).name }} Showroom - LiquiDec</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="{{ asset('front/dist/style.scss') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('front/dist/main.css') }}?version=3" rel="stylesheet" media="screen">
</head>
<body>

<!-- Loader -->

<div class="loader">
    <div class="page-lines">
        <div class="container">
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="loader-brand">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

<header id="top" class="header-inner">
    {% include ':block:header.block.html.twig' with { static: true } %}
</header>

<!-- Layout -->

<div class="layout">

    <!-- Home -->

    <main class="main main-inner bg-about" data-stellar-background-ratio="0.6">
        <div class="container">
            <header class="main-header">
                <h1>{{ showroom.languageData(app.request.locale).name }}</h1>
            </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </main>

    <div class="content">

        <!-- About  -->

        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="{{ asset('uploads/showroom/large_' ~ showroom.image) }}" class="border-image" width="100%">
                    </div>
                    <div class="col-xs-6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar diam sem, id ultrices diam ullamcorper nec. Duis tincidunt elit sit amet ligula tristique tempor. Pellentesque vel pellentesque ex. Sed at vulputate leo, at maximus quam. Integer efficitur, justo id semper rutrum, risus justo tristique dolor, vel hendrerit leo augue vitae dolor. Nullam risus arcu, posuere sed porta sed, suscipit in lacus. Quisque elementum leo ac ultricies pellentesque.
                        <br>
                        <br>
                        Nam blandit luctus nisi, in volutpat sapien imperdiet a. Phasellus tempus eget arcu non vestibulum. Pellentesque aliquam mauris blandit egestas ultrices. Praesent interdum tincidunt tortor non ultrices. In nisi purus, facilisis tincidunt blandit nec, sagittis sit amet urna. Mauris efficitur semper turpis, quis tincidunt urna varius et. Sed molestie odio dui, non tempus nulla dignissim eu. Donec rhoncus tellus non iaculis luctus. Cras tempor sem non lectus vulputate tincidunt. Fusce vitae lectus nibh.
                        <br>
                        <br>
                        {{ showroom.languageData(app.request.locale).description | raw }}
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->

        <section id="services" class="services section">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span class="text-primary">Products</span> used</h2>
                </header>
                <div class="section-content">
                    <div class="products row">
                        {% for product in showroom.catalogItems %}
                            <div class="col-xs-3">
                                {% include ':block:product.block.html.twig' with { product: product, category: product.category } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Contacts -->

        {% include ':block:contacts.block.html.twig' %}

        <!-- Footer -->

        {% include ':block:footer.block.html.twig' %}

    </div>
</div>

<!-- SCRIPTS -->

{% include ':block:footer.resources.block.html.twig' %}
<script>
    $(".submenu").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        var link = $(this);
        var id = link.data('id');
        var submenu = $(".submenu-block[data-id='"+id+"']");
        submenu.toggleClass('submenu-block__active');
        submenu.css({
            'left': link.offset().left - 40,
            'top': 80
        });
    });
</script>
</body>
</html>