<!DOCTYPE HTML>
<html lang="{{ app.request.locale }}">
<head>
    <meta  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ product.languageData(app.request.locale).name }} Product - LiquiDec</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">

    <!-- Styles -->
    <link href="{{ asset('front/dist/style.scss') }}" rel="stylesheet" media="screen">
</head>
<body>
<!-- Loader -->

<div class="loader">
    <div class="page-lines">
        <div class="container">
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
            </div>
            <div class="col-line col-xs-4">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="loader-brand">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>

<header id="top" class="header-inner">
    {% include ':block:header.block.html.twig' with { static: true } %}
</header>

<!-- Layout -->

<div class="layout">

    <!-- Home -->

    <main class="main main-inner bg-about" data-stellar-background-ratio="0.6">
        <div class="container">
            <header class="main-header">
                <h1>{{ product.category.languageData(app.request.locale).name }} - {{ product.languageData(app.request.locale).name }}</h1>
            </header>
        </div>

        <!-- Lines -->

        <div class="page-lines">
            <div class="container">
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                </div>
                <div class="col-line col-xs-4">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </main>

    <div class="content">

        <!-- About  -->

        <section id="about" class="about product-page" data-id="{{ product.id }}" data-name="{{ product.languageData(app.request.locale).name }}">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12" id="lightgallery">
                        <a href="{{ asset('uploads/catalog-item/' ~ product.image) }}">
                            <img data-src="{{ asset('uploads/catalog-item/small_' ~ product.image) }}" class="border-image" width="100%">
                        </a>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <span class="product-page--title">{{ product.languageData(app.request.locale).description }}</span>
                        <div class="c-price">
                            <div class="c-price--quantity" data-metric="{{ product.quantityMetric }}">
                                per
                                <div class="c-price--quantity--amount">1</div>
                                <div class="c-price--quantity--value"> {{ product.quantityLabel }}</div>
                            </div>
                            <div class="c-price--number">
                                <div class="c-price--number-currency">£</div>
                                <div class="c-price--number-amount" data-unit="{{ product.price }}">{{ product.price | number_format(2) }}</div>
                            </div>
                        </div>
                        <div class="c-order">
                            <div class="c-order--quantity">
                                <div class="c-order--quantity--up"><i class="fa fa-plus"></i></div>
                                <div class="c-order--quantity--down"><i class="fa fa-minus"></i></div>
                            </div>
                            <div class="c-order--button">
                                <div class="btn btn-success make-order">Make an Order</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {% if product.quantityMetric == 'PER-BAG' %}
                        <div class="product-badge product-badge--paid">
                            <i class="fa fa-exclamation-triangle"></i> <span><strong>Free Delivery</strong> if you order more than 2 bags!</span>
                        </div>
                        <div class="product-badge product-badge--free" style="display: none;">
                            <i class="fa fa-check"></i> <span><strong>Free Delivery</strong> achieved!</span>
                        </div>
                        {% endif %}
                        <div class="product-page--rooms">
                            {% if product.rooms | length > 0 %}
                                Perfect fit for: {% for room in product.rooms %}<u>{{ room.name }}</u>, {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        {% if similar is defined %}
        <section id="services" class="services section">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span class="text-primary">Similar</span> products</h2>
                </header>
                <div class="section-content">
                    <div class="products row">
                        {% for product in similar %}
                            <div class="col-md-3 col-xs-12">
                                {% include ':block:product.block.html.twig' with { product: product, category: product.category } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!-- Contacts -->

        {% include ':block:contacts.block.html.twig' %}

        <!-- Footer -->

        {% include ':block:footer.block.html.twig' %}

    </div>
</div>

<div class="modal" tabindex="-1" id="order" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Make an Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control required" name="email">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Phone:</label>
                            <input class="form-control required" name="phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Full name:</label>
                            <input class="form-control required" name="fullname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 product-name">Product XYZ</div>
                    <div class="col-xs-4 text-right  product-quantity">10 m<sup>2</sup> x £12.90</div>
                    <div class="col-xs-3 text-right  product-total">£129.00</div>
                </div>
                <div class="row delivery" style="display: none;">
                    <div class="col-xs-5">Delivery</div>
                    <div class="col-xs-4 text-right"></div>
                    <div class="col-xs-3 text-right">£3.00</div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="hidden order-success">
                    Thanks for your order, we will contact you asap!
                </p>
                <button type="button" class="btn btn-primary submit-order">Submit Order</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>

{% include ':block:footer.resources.block.html.twig' %}
<link href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/css/lightgallery.min.css" rel="stylesheet" media="screen">
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Product",
        "url": "{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}",
        "image": "{{ absolute_url('/uploads/catalog-item/small_' ~ product.image) }}",
        "name": "{{ product.languageData(app.request.locale).name }}",
        "productID": "{{ product.languageData(app.request.locale).slug }}",
        "sku": "{{ product.languageData(app.request.locale).slug }}",
        "gtin": "{{ product.languageData(app.request.locale).slug }}",
        "category": "{{ product.category.languageData(app.request.locale).name }}",
        "description": "{{ product.category.languageData(app.request.locale).name }} Liquid Wallpaper for Luxury Decoration",
        "brand": {
            "@type": "Brand",
            "logo": "{{ absolute_url('/front/media/logo-v3-small.png') }}",
            "slogan": "Liquid Wallpapers in UK",
            "name": "Liquidec",
            "url": "https://www.liquidec.co.uk"
        },
        "offers": {
            "@type": "Offer",
            "price": "{{ product.price | number_format(2) }}",
            "priceCurrency": "GBP",
            "priceValidUntil": "{{ '+1 year' | date('Y-m-d H:i:s') }}",
            "url": "{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}",
            "availability": "http://schema.org/InStock"
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "4"
        },
        "review": [
            {
                "@type": "Review",
                "author": "Liquidec ",
                "datePublished": "{{ '-1 month' | date('Y-m-d H:i:s') }}",
                "description": "Best Liquid Wallpapers on the market!",
                "name": "Very high quality product!",
                "reviewRating": {
                    "@type": "Rating",
                    "bestRating": "5",
                    "ratingValue": "5",
                    "worstRating": "1"
                }
            }
        ]
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@1.6.12/dist/js/lightgallery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#lightgallery").lightGallery({
            download: false
        });
    });
    var amountBlock = $(".c-price--quantity--amount").first();
    var numberAmountBlock = $(".c-price--number-amount").first();

    $(".c-order--quantity--up, .c-order--quantity--down").click(function () {
        var button = $(this);
        var current = parseInt(amountBlock.html());
        if (button.hasClass('c-order--quantity--up')) {
            current++;
        } else {
            current--;
        }
        if (current < 1) {
            current = 1;
        }
        amountBlock.html(current);
        updateTotals();
    });

    function updateTotals() {
        var current = parseInt(amountBlock.html());
        var pricePerUnit = parseFloat(numberAmountBlock.data('unit'));
        if (current > 2) {
            $(".product-badge--paid").hide();
            $(".product-badge--free").show();
        } else {
            $(".product-badge--paid").show();
            $(".product-badge--free").hide();
        }
        numberAmountBlock.html((pricePerUnit * current).toFixed(2));
    }

    $(".make-order").click(function () {
        var product = {
            id: $(".product-page").data('id'),
            name: $(".product-page").data('name'),
            perUnit: $(".c-price--number-amount").data('unit'),
            quantity: $(".c-price--quantity--amount").html(),
        };
        $("#order .product-name").html(product.name);
        $("#order .product-quantity").html(product.quantity + " x £" + product.perUnit);
        $("#order .product-total").html("£" + (product.quantity * product.perUnit).toFixed(2));

        let metric = $(".c-price--quantity").data('metric');
        if (metric === 'PER-BAG') {
            if (parseInt(product.quantity) > 2) {
                $("#order .delivery").hide();
            } else {
                $("#order .delivery").show();
            }
        }
        $("#order").modal();
    });

    $(".submit-order").click(function () {
        var button = $(this);
        if (!button.hasClass('submit-order')) {
            return;
        }
        let errors = false;
        $("input.required.error").removeClass('error');
        $("input.required").each(function () {
            let input = $(this);
            if (input.val() == '') {
                errors = true;
                input.addClass('error');
            }
        });
        if (errors) {
            return;
        }
        var url = Routing.generate('app_order_create', {'_locale': $("html").attr('lang')});
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                product: $(".product-page").data('id'),
                email: $("#order input[name='email']").val(),
                phone: $("#order input[name='phone']").val(),
                fullname: $("#order input[name='fullname']").val(),
                quantity: parseInt($(".c-price--quantity--amount").html())
            },
            success: function (response) {
                if (response.success) {
                    button.removeClass('submit-order').html('Thank You!');
                    $(".order-success").removeClass('hidden');
                } else {
                    $(".order-success").removeClass('hidden').html('Oops, some error occurred, please call us and we will help!');
                }
            },
            error: function () {
                $(".order-success").removeClass('hidden').html('Oops, some error occurred, please call us and we will help!');
            }
        });
    });

</script>
<script>
    $(".submenu").click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        var link = $(this);
        var id = link.data('id');
        var submenu = $(".submenu-block[data-id='"+id+"']");
        submenu.toggleClass('submenu-block__active');
        submenu.css({
            'left': link.offset().left - 40,
            'top': 80
        });
    });
</script>
</html>