{% for type, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ type }} fade in show">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}