<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            {% if is_granted('ROLE_ADMIN') %}
                <li class=" navigation-header"><span>Content</span><i data-toggle="tooltip" data-placement="right" data-original-title="Content" class=" ft-minus"></i></li>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'language'}) }}"><i class="ft-globe"></i><span data-i18n="" class="menu-title">Languages</span></a></li>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'translation'}) }}"><i class="icon-bubbles"></i><span data-i18n="" class="menu-title">Translations</span></a></li>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'static_page'}) }}"><i class="icon-docs"></i><span data-i18n="" class="menu-title">Static Pages</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'testimonial'}) }}"><i class="icon-docs"></i><span data-i18n="" class="menu-title">Testimonials</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'blocks'}) }}"><i class="icon-grid"></i><span data-i18n="" class="menu-title">Template Blocks</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'menu'}) }}"><i class="icon-grid"></i><span data-i18n="" class="menu-title">Menus</span></a></li>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'business'}) }}"><i class="icon-docs"></i><span data-i18n="" class="menu-title">Business Information</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'applications'}) }}"><i class="icon-user"></i><span data-i18n="" class="menu-title">Staff Information</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'services'}) }}"><i class="icon-grid"></i><span data-i18n="" class="menu-title">Services</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'slides'}) }}"><i class="icon-grid"></i><span data-i18n="" class="menu-title">Slides</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'gallery'}) }}"><i class="icon-picture"></i><span data-i18n="" class="menu-title">Gallery</span></a>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'faq'}) }}"><i class="icon-question"></i><span data-i18n="" class="menu-title">FAQ</span></a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class=" navigation-header"><span>Users</span><i data-toggle="tooltip" data-placement="right" data-original-title="Users" class=" ft-minus"></i></li>
                <li class=" nav-item"><a href="{{ url('app_admin_section_list', {'section': 'users'}) }}"><i class="ft-folder"></i><span data-i18n="" class="menu-title">Manage</span></a></li>
            {% endif %}
        </ul>
    </div>
</div>
