{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <form class="form form-horizontal" method="POST">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="name">Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="name" class="form-control" placeholder="Name" name="name" value="{{ item.name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="lastname">Surname</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="lastname" class="form-control" placeholder="Surname" name="lastname" value="{{ item.lastname }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="email">Email</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="email" class="form-control" placeholder="Email" name="email" value="{{ item.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="password">Password</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="password" class="form-control" placeholder="Password" name="password" value="{{ item.plainPassword }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="role">Role</label>
                                                <div class="col-md-9">
                                                    <select type="text" id="role" class="form-control" name="role">
                                                        <option value="ROLE_USER" {% if item.hasRole('ROLE_USER') %}selected{% endif %}>User</option>
                                                        <option value="ROLE_ADMIN" {% if item.hasRole('ROLE_ADMIN') %}selected{% endif %}>Admin</option>
                                                        <option value="ROLE_SUPER_ADMIN" {% if item.hasRole('ROLE_SUPER_ADMIN') %}selected{% endif %}>Super Admin</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}