{% extends '@StaticPage/layout/static.page.layout.html.twig' %}

{% block seo %}
    <title>{{ page.languageData(locale).title }} - Langehouse</title>
    <meta name="description" content="{{ page.languageData(locale).content }}">
    <meta property="og:title" content="{{ page.languageData(locale).title }} - SVMK" />
    <meta property="og:description" content="{{ page.languageData(locale).content }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url('app_static_single', {'slug': page.languageData(app.request.locale).slug}) }}" />
{% endblock %}

{% block main %}
    <div class="c-static">
        <div class="c-static--content">
            {{ page.languageData(locale).content | raw }}
            {% if page.children | length > 0 %}
                <ul>
                    {% for child in page.children %}
                        <li>{{ child.languageData(locale).title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <script>
    </script>
{% endblock %}