

$color-primary: #0FD1FC;
$color-secondary: #FF6606;
$color-gray: #ACAE9E;
$color-white: #FAF9F9;
$color-black: #32353C;
$color-gray-primary: #557A95;
$color-gray-secondary: #5D5C61;
$color-gray-third: #7395AE;
$color-red: #A41D21;


$box-shadow-narrow: 0 0 10px 2px rgba(0,0,0,0.2);
$box-shadow-simple: 0 0 10px 2px rgba(0,0,0,0.1);
$text-shadow-narrow: 1px 1px 5px rgba(0,0,0,0.5);

$theme-colors: (
        "primary": #03AED3,
        "danger": #ff4136
);