<div class="c-menu">
    <div class="row">
        <div class="col-3">
            <div class="c-menu--logo">
                <a href="{{ url('homepage_language') }}">
                    <img src="{{ asset('front/media/images/logo/logo_white.png') }}" class="c-menu--logo__white" title="Langedrag Housing Logo" alt="Langedrag Housing Logo" height="120">
                    <img src="{{ asset('front/media/images/logo/logo_original_color.png') }}" class="c-menu--logo__black" title="Langedrag Housing Logo" alt="Langedrag Housing Logo" height="120">
                </a>
                <div class="c-menu--logo--award">
                    <img src="{{ asset('front/media/images/award.png') }}">
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="c-menu--items">
                <div class="c-menu--items--item c-menu--items--item__burger">
                    <div class="c-burger">
                        <div class="c-burger--line"></div>
                        <div class="c-burger--line"></div>
                        <div class="c-burger--line"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-menu-full">
    <div class="c-menu-full--logo">
        <img src="{{ asset('front/media/images/logo/logo_white.png') }}" title="Langedrag Housing logo" alt="Langedrag Housing Logo" height="120">
    </div>
    <div class="c-menu-full--close c-close">
        <div class="c-close--line"></div>
        <div class="c-close--line"></div>
    </div>
    <div class="c-menu-full--items">
        <div class="row">
            <div class="col-6 d-md-inline-block d-none c-menu-full--items--socials">
                <div class="c-menu-full--items--center">
                    <div class="c-menu-full--items--item c-menu-full--items--item__social"><a href="{{ business.socialLinks['facebook'] }}" title="Langedrag Housing Facebook Page"><i class="fab fa-facebook"></i> Facebook</a></div>
                    <div class="c-menu-full--items--item c-menu-full--items--item__social"><a href="{{ business.socialLinks['instagram'] }}" title="Langedrag Housing Instagram Page"><i class="fab fa-instagram"></i> Instagram</a></div>
                    <div class="c-menu-full--items--item no-margin c-menu-full--items--item__social"><a href="{{ business.socialLinks['linkedin'] }}" title="Langedrag Housing Instagram Page"><i class="fab fa-linkedin"></i> LinkedIn</a></div>
                    <div class="c-menu-full--items--item no-margin c-menu-full--items--item__languages">
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'sw'})) }}"><img src="{{ asset('front/media/images/icon/swe.png') }}" class="language" width="20" alt="Switch to SWE" title="Switch to SWE"></a>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('front/media/images/icon/gbp.png') }}" class="language" width="20" alt="Switch to END" title="Switch to END"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 text-md-left text-center">
                <div class="c-menu-full--items--center">
                    {% for item in menus['63a4db6cb481e62516fc9f9b2269a049'].links %}
                        <div class="c-menu-full--items--item"><a href="{{ item.page }}">{{ item.title }}</a></div>
                    {% endfor %}
                    <div class="c-menu-full--items--item no-margin c-menu-full--items--item__languages d-block d-md-none">
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'sw'})) }}"><img src="{{ asset('front/media/images/icon/swe.png') }}" class="language" width="20" alt="Switch to SWE" title="Switch to SWE"></a>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('front/media/images/icon/gbp.png') }}" class="language" width="20" alt="Switch to ENG" title="Switch to ENG"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>