<div class="contact-form" data-url="{{ url('app_contact_send') }}">
    <div class="form-group">
        <label>{{ "name" | translate('feedback') }}:</label>
        <input class="form-control c-required" name="name">
    </div>
    <div class="form-group">
        <label>{{ "phone-number" | translate('feedback') }}:</label>
        <input class="form-control c-required" name="phone" type="tel">
    </div>
    <div class="form-group">
        <label>{{ "email" | translate('feedback') }}:</label>
        <input class="form-control c-required" name="email" type="email" required>
    </div>
    <div class="form-group">
        <label>{{ "message" | translate('feedback') }}:</label>
        <textarea class="form-control c-required" name="message" rows="8"></textarea>
    </div>

    <div class="btn btn-primary btn-block btn-square send-message">{{ "send-message" | translate('feedback') }}</div>
    <i class="text-muted mt-2">{{ "fallback-message" | translate('feedback') }}</i>
</div>