{% extends 'core/layout/core.layout.html.twig' %}
{% block slideshow %}{% endblock %}
{% block body %}
    <div class="c-hidden"><h1>Langedrag HouseKeeping - {{ "about-us" | translate('about-us') }}</h1></div>
    <main>
        <section class="c-section c-section__page c-section__feedback c-team c-about">
            <div class="c-section--backtitle">{{ "about-us" | translate('about-us') }}</div>
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <img class="c-about--image animated fadeIn delay-1s lazy-img fast" data-src="{{ asset('front/media/images/service/side.jpg') }}" width="100%" alt="{{ "about-us" | translate('about-us') }}" title="{{ "about-us" | translate('about-us') }}">
                        </div>
                        <div class="col-md-8 col-12">
                            <p class="special-line c-about--text">
                                <span class="fadeIn animated">{{ "company-name" | translate('misc') }}</span>
                            <div class="animated fadeIn delay-1s">{{ "section-1-content" | translate('about-us', 'textarea') }}</div>
                            </p>
                            <div class="c-about--link">{{ "section-1-caption" | translate('about-us', 'textarea') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section c-section__page c-section__feedback c-about">
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 mb-md-0 mb-3">
                            <div class="c-about--graph js-animate">
                                <div class="c-about--graph--title"><h2>{{ "mission-title" | translate('about-us', 'textarea') }}</h2></div>
                                <div class="c-about--graph--content">
                                    {{ "mission-content" | translate('about-us', 'textarea') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="c-about--graph js-animate">
                                <div class="c-about--graph--title"><h2>{{ "vision-title" | translate('about-us', 'textarea') }}</h2></div>
                                <div class="c-about--graph--content">
                                    {{ "vision-content" | translate('about-us', 'textarea') }}
                                    <div>
                                        <img src="http://giphygifs.s3.amazonaws.com/media/RyvaihB82Vsis/giphy.gif" width="250" alt="{{ "vision-title" | translate('about-us', 'textarea') }}" title="{{ "vision-title" | translate('about-us', 'textarea') }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-5">
                            <div class="c-about--graph js-animate">
                                <div class="c-about--graph--content">
                                    {{ "section-2-content" | translate('about-us', 'textarea') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-section c-section__page c-section__feedback c-about">
            <div class="c-section--backtitle">{{ "we-are-different" | translate('about-us') }}</div>
            <div class="c-section--internal mt-5">
                <div class="container">
                    {% for index, block in blocks %}
                    <div class="row mb-5 js-animate">
                        {% if index % 2 == 0 %}
                            <div class="col-md-6 col-12">
                                <div class="c-about--title"><h3>{{ block.title }}</h3></div>
                                <p class="c-about--info">
                                    {{ block.content | striptags }}
                                </p>
                            </div>
                            <div class="col-md-6 col-12">
                                {% if block.block.image %}
                                    <img class="c-about--image lazy-img" data-src="{{ asset('uploads/template-block/thumb_' ~ block.block.image) }}" width="100%" alt="{{ block.title }}" title="{{ block.title }}">
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="col-md-6 col-12">
                                {% if block.block.image %}
                                    <img class="c-about--image lazy-img" data-src="{{ asset('uploads/template-block/thumb_' ~ block.block.image) }}" width="100%" alt="{{ block.title }}" title="{{ block.title }}">
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="c-about--title">{{ block.title }}</div>
                                <p class="c-about--info">
                                    {{ block.content | striptags }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="btn btn-white mt-4 c-footer--message-button">{{ "contact-us" | translate('misc') }}</div>
                </div>
            </div>
        </section>
        <footer class="c-footer c-footer__overlay c-footer__fixed">
            <div class="c-footer--form">
                <div class="c-footer--form--close">
                    <div class="c-close c-close__dark">
                        <div class="c-close--line"></div>
                        <div class="c-close--line"></div>
                    </div>
                </div>
                {% include 'block/contact-form.html.twig' %}
            </div>
        </footer>
    </main>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/slideshow.component.js') }}"></script>
    <script src="{{ asset('front/js/feedback.about.component.js') }}?version=1"></script>
    <script src="{{ asset('front/js/gallery.component.js') }}"></script>
    <script src="{{ asset('front/js/menu.component.js') }}"></script>
    <script src="{{ asset('front/js/contact.component.js') }}"></script>
{% endblock %}