{% extends 'core/layout/core.layout.html.twig' %}

{% block slideshow %}{% endblock %}
{% block body %}
    <div class="c-hidden"><h1>Langedrag HouseKeeping - {{ localPage.title }}</h1></div>
    <main>
        <section class="c-section c-section__page c-section__feedback c-team c-about">
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        <h1 class="mb-4 c-section--internal--title c-section--internal--title__small">{{ localPage.title }}</h1>
                        {{ localPage.content | raw }}
                    </div>
                </div>
            </div>
        </section>
        <footer class="c-footer c-footer__overlay c-footer__fixed">
            <div class="c-footer--form">
                <div class="c-footer--form--close">
                    <div class="c-close c-close__dark">
                        <div class="c-close--line"></div>
                        <div class="c-close--line"></div>
                    </div>
                </div>
                {% include 'block/contact-form.html.twig' %}
            </div>
        </footer>
    </main>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/slideshow.component.js') }}"></script>
    <script src="{{ asset('front/js/feedback.about.component.js') }}?version=1"></script>
    <script src="{{ asset('front/js/gallery.component.js') }}"></script>
    <script src="{{ asset('front/js/menu.component.js') }}"></script>
    <script src="{{ asset('front/js/contact.component.js') }}"></script>
{% endblock %}