{% extends 'core/layout/core.layout.html.twig' %}

{% block slideshow %}{% endblock %}
{% block body %}
    <div class="c-hidden"><h1>Langedrag HouseKeeping - FAQ</h1></div>
    <main>
        <section class="c-section c-section__page c-section__feedback c-team">
            <div class="c-section--backtitle">FAQ</div>
            <div class="c-section--internal">
                <div class="container">
                    {% for question in questions %}
                    <div class="c-faq">
                        <div class="c-faq--question--border">
                            <div class="c-faq--question">
                                <div class="c-faq--question--icon">
                                    <i class="fa fa-question"></i>
                                </div>
                                <div class="c-faq--question--content">
                                    {{ question.question }}
                                </div>
                                <div class="c-faq--question--arrow">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="c-faq--answer">
                            {{ question.answer }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/feedback.alt.component.js') }}"></script>
    <script src="{{ asset('front/js/gallery.component.js') }}"></script>
    <script src="{{ asset('front/js/menu.component.js') }}"></script>
    <script>

        let FAQComponent = {
            init: function () {
                $(".c-faq").click(function () {
                    let faq = $(this);
                    let open = true;
                    if (faq.hasClass('c-faq__opened')) {
                        open = false;
                    }

                    if (open) {
                        $(".c-faq__opened").removeClass('c-faq__opened');
                        faq.addClass('c-faq__opened');
                    } else {
                        faq.removeClass('c-faq__opened');
                    }
                });
            }
        };

        $(document).ready(() => {
            FAQComponent.init();
        });
    </script>
{% endblock %}