{% extends 'core/layout/core.layout.html.twig' %}
{% set googleSearch = 'Speed Insights' in app.request.headers.get('User-Agent') %}
{% block intro %}
    {% if intro and not googleSearch %}
    <div class="c-intro">
        <div class="c-intro--content">
            <div class="c-intro--logo animated fadeIn"><img src="{{ asset('front/media/images/logo/logo_original_color.png') }}" alt="Langedrag Housing Logo" title="Langedrag Housing Logo"></div>
            <div class="c-intro--caption animated fadeIn delay-1s">reinventing cleaning</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block body %}
    <main style="overflow-x: hidden;">
        <div class="c-hidden"><h1>LangeDrag HouseKeeping</h1></div>
        <section class="c-section c-section__parallax c-section__gray">
            <div class="c-section--backtitle">{{ "about-us-title" | translate('landing') }}</div>
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="c-section--title">
                                <span class="white"><h2>{{ "about-us-title" | translate('landing') }}</h2></span>
                            </div>
                            <div class="c-section--content">
                                {{ "about-us-content" | replace({'"\n"':'<br>'}) | translate('landing', 'textarea') }}
                                <strong><h5 class="special-underline mt-3">{{ "about-us-caption" | replace({'"\n"':'<br>'}) | translate('landing') }}</h5></strong>
                            </div>
                            <div class="c-section--cta">
                                <a href="{{ url('app_static_single', { 'slug': 'about-us' }) }}">
                                    <div class="btn btn-outline-light">{{ "read-more" | translate('misc') }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--            OUR SERVICES-->
        <section class="c-section c-section__services">
            <div class="c-section--backtitle">{{ "our-services-title" | translate('landing') }}</div>
            <div class="c-section--internal">
                <div class="c-section--content c-section--content__big">
                    <div class="container">
                        <div class="row">
                            {% for service in services %}
                            <div class="col-md-6 col-12">
                                <a href="{{ url('app_static_single', { slug: 'our-services' }) }}?service={{ service.slug }}">
                                    <div class="c-service">
                                        <div class="c-service--image">
{#                                            data-webp="https://www.langehouse.se{{ asset('uploads/catalog-item/' ~ service.item.webP) }}"#}
                                            <img class="lazy-img" data-src="https://www.langehouse.se{{ asset('uploads/catalog-item/thumb_' ~ service.item.image) }}" alt="{{ service.name }}" title="{{ service.name }}">
                                        </div>
                                        <div class="c-service--title">{{ service.name }}</div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--            FEEDBACK-->
        <section class="c-section c-section__high c-section__parallax c-section__feedback">
            <div class="c-section--backtitle">{{ "feedback-title" | translate('landing') }}</div>
            <div class="c-section--internal">
                <div class="container">
                    <div class="c-section--title"><h2><span>{{ "feedback-caption" | translate('landing') }}</span></h2></div>
                </div>
                <div class="owl-carousel owl-theme testimonials-carousel" data-responsive='{ "0": { "items": 1 }, "800": { "items": 2 }, "1000": { "items": 2 }, "1290": { "items": 3 } }' data-dots="true" data-margin="50" data-padding="50" data-auto="false" data-items="3" data-nav="false">
                    {% for testimonial in testimonials %}
                        <div class="c-testimonial">
                            <div class="c-testimonial--content">
                                {{ testimonial.languageData(app.request.locale).content }}
                            </div>
                            <div class="c-testimonial--author">
                                <img class="lazy-img" data-src="https://www.langehouse.se{{ asset('uploads/testimonial/thumb_' ~ testimonial.image) }}" alt="{{ testimonial.languageData(app.request.locale).author }} testimonial" title="{{ testimonial.languageData(app.request.locale).author }} testimonial">
                            </div>
                            <div class="c-testimonial--text">
                                <div class="c-testimonial--text--name">{{ testimonial.languageData(app.request.locale).author }}</div>
                                <div class="c-testimonial--text--role">{{ testimonial.languageData(app.request.locale).role }}</div>
                            </div>
                            <div class="c-testimonial--rating">
                                {% for i in 0..(testimonial.rating - 1) %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                {% for i in 0..(5 - testimonial.rating - 1) %}
                                    {% if testimonial.rating < 5 %}
                                    <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!--            GALLERY-->
        <section class="c-section c-section__full c-section__gallery">
            <div class="c-section--internal">
                <div class="owl-carousel owl-theme gallery-carousel" data-auto="false" data-in="fadeIn" data-out="fadeOut" data-items="1" data-dots="true" data-nav="true">
                    {% for image in gallery %}
                    <div class="c-gallery" data-item="{{ loop.index }}">
                        <div class="c-gallery--background lazy-img fast" data-type="background" data-src="https://www.langehouse.se/{{ asset('uploads/gallery/bg_' ~ image.image) }}"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <footer class="c-footer" id="contact">
        <div class="c-footer--form">
            <div class="c-footer--form--close">
                <div class="c-close c-close__dark">
                    <div class="c-close--line"></div>
                    <div class="c-close--line"></div>
                </div>
            </div>
            {% include 'block/contact-form.html.twig' %}
        </div>
        <div class="c-footer--address">
            <div class="container">
                <p class="c-footer--address--title">{{ "company-name" | translate('misc') }}</p>
                <p>
                    {{ "business-address" | translate('misc', 'textarea') }}
                </p>
                <p>
                    {{ business.workingPhone }}<br>
                    <a href="mailto:{{ business.workingEmail }}">{{ business.workingEmail }}</a> &nbsp; www.langehouse.se
                </p>
                <div class="c-footer--address--socials mb-3">
                    <div class="c-footer--address--socials--social"><a href="{{ business.socialLinks['facebook'] }}" title="Langedrag Housekeeping Facebook Page"><i class="fab fa-facebook-f"></i><span class="d-none">Langedrag Housekeeping Facebook Page</span></a></div>
                    <div class="c-footer--address--socials--social"><a href="{{ business.socialLinks['instagram'] }}" title="Langedrag Instagram Page"><i class="fab fa-instagram"></i><span class="d-none">Langedrag Housekeeping Instagram Page</span></a></div>
                    <div class="c-footer--address--socials--social"><a href="{{ business.socialLinks['linkedin'] }}" title="Langedrag LinkedIn Page"><i class="fab fa-linkedin"></i><span class="d-none">Langedrag Housekeeping LinkedIn Page</span></a></div>
                </div>
                <div class="btn btn-main btn-sm c-footer--message-button">{{ "contact-us" | translate('misc') }}</div>
            </div>
        </div>
        <div class="c-footer--top">{{ "to-the-top" | translate('misc') }}</div>
        <div class="c-map" id="map" style="width: 100%; height: 600px;"></div>
        <div class="c-footer--copyright text-center">{{ "company-name" | translate('misc') }} 2019 &copy; Copyright. All Rights Reserved.</div>
    </footer>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}" defer></script>
    <script src="{{ asset('front/js/slideshow.component.js') }}?version=5" defer></script>
    <script src="{{ asset('front/js/feedback.component.js') }}?version=2" defer></script>
    <script src="{{ asset('front/js/gallery.component.js') }}?version=4" defer></script>
    <script src="{{ asset('front/js/menu.component.js') }}?version=2" defer></script>
    <script src="{{ asset('front/js/contact.component.js') }}?version=2" defer></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPGAYwtKyuGUQOBmvnhdbwdFfqPEMc-04&callback=initMap">
    </script>
    <script>
        function initMap() {
            MapComponent.init();
            $(window).scroll(function () {
                MapComponent.init();
            });
        }

        let MapComponent = {
            initialised: false,
            init: function () {
                if ($(window).scrollTop() < 100 || this.initialised) {
                    return;
                }
                this.initialised = true;
                let mapStyle = new google.maps.StyledMapType([
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#333333"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.locality",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.neighborhood",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "lightness": 20
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#FF6606"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#dedede"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#dedede"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dedede"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "color": "#918D94"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#918D94"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    }
                ]);

                // Create a map object, and include the MapTypeId to add
                // to the map type control.
                let lat = 57.66783;
                let lng = 11.8583962;
                let koef = 0.05;
                let zoom = 14;
                if ($(window).width() < 800) {
                    koef = 0.025;
                    zoom = 13;
                }
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: lat, lng: lng - koef},
                    zoom: zoom,
                    disableDefaultUI: true,
                    mapTypeControlOptions: {
                        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
                    }
                });

                //Associate the styled map with the MapTypeId and set it to display.
                map.mapTypes.set('styled_map', mapStyle);
                map.setMapTypeId('styled_map');

                var marker = new google.maps.Marker({
                    position: {lat: lat, lng: lng},
                    map: map,
                    icon: {
                        url: './front/media/images/icon/marker.gif',
                        scaledSize: new google.maps.Size(100, 100)
                    },
                    title: 'We are here!',
                });
            }
        }
    </script>
{% endblock %}