{% extends 'core/layout/core.layout.html.twig' %}

{% block slideshow %}{% endblock %}

{% block body %}
    <div class="c-hidden"><h1>Langedrag HouseKeeping - Services</h1></div>
    <main>
        <section class="c-section c-section__full c-section__page c-section__services c-services">
            <div class="c-section--backtitle">Services</div>
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-12 text-right c-services--menu">
                            {% for service in services %}
                            <div class="c-services--service {% if selectedService is defined and service.slug == selectedService %}c-services--service__preselected{% endif %}" data-id="{{ service.slug }}"><span>{{ service.name }}</span></div>
                            {% endfor %}
                            <div class="btn btn-white mt-4 d-sm-block d-none c-footer--message-button c-footer--message-button__scroll">{{ "contact-us" | translate('misc') }}</div>
                        </div>
                        <div class="col-md-8 col-12 text-justify pl-4">
                            {% for service in services %}
                            <div class="c-services--content" data-id="{{ service.slug }}" itemscope itemtype="https://schema.org/Service">
                                <meta itemprop="serviceType" content="{{ service.name }}" />
                                {{ service.description | raw }}
                            </div>
                            {% endfor %}
                            <div class="btn btn-white mt-4 d-xl-none d-lg-none d-md-none d-sm-block d-block c-footer--message-button">{{ "contact-us" | translate('misc') }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="c-footer c-footer__overlay">
        <div class="c-footer--form">
            <div class="c-footer--form--close">
                <div class="c-close c-close__dark">
                    <div class="c-close--line"></div>
                    <div class="c-close--line"></div>
                </div>
            </div>
            {% include 'block/contact-form.html.twig' %}
        </div>
    </footer>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/slideshow.component.js') }}"></script>
    <script src="{{ asset('front/js/feedback.alt.component.js') }}?version=1"></script>
    <script src="{{ asset('front/js/gallery.component.js') }}"></script>
    <script src="{{ asset('front/js/menu.component.js') }}"></script>
    <script src="{{ asset('front/js/services.component.js') }}"></script>
    <script src="{{ asset('front/js/system.component.js') }}"></script>
    <script src="{{ asset('front/js/contact.component.js') }}"></script>
    <script>
    </script>
{% endblock %}