{% extends 'core/layout/core.layout.html.twig' %}

{% block slideshow %}{% endblock %}

{% block body %}
    <div class="c-hidden"><h1>Langedrag HouseKeeping - Our Team</h1></div>
    <main>
        <section class="c-section c-section__page c-section__feedback c-team">
            <div class="c-section--backtitle">Our Team</div>
            <div class="c-section--internal">
                <div class="container">
                    <div class="row">
                        {% for person in staff %}
                        <div class="col-md-6 col-12 c-team--person {% if loop.index % 2 != 0 %}c-team--person__left{% endif %}">
                            <div class="c-person">
                                <div class="c-person--avatar animated fadeIn slower">
                                    <img src="{{ asset('uploads/staff/thumb_' ~ person.staffApplication.image) }}">
                                </div>
                                <div class="c-person--name animated fadeIn delay-1s">{{ person.fullname }}</div>
                                <div class="c-person--role animated fadeIn delay-1s">{{ person.role }}</div>
                                <div class="c-person--links animated fadeIn delay-1s">
                                    {% if person.staffApplication.email %}
                                        <a href="mailto:{{ person.staffApplication.email }}"><i class="fa fa-envelope"></i></a>
                                    {% endif %}
                                    {% if person.staffApplication.linkedInLink %}
                                        <a href="{{ person.staffApplication.linkedInLink }}"><i class="fab fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if person.staffApplication.instagramLink %}
                                        <a href="{{ person.staffApplication.instagramLink }}"><i class="fab fa-instagram"></i></a>
                                    {% endif %}
                                </div>
                                <div class="c-person--description animated fadeIn slower delay-1s">
                                    {{ person.summary | raw }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block localJS %}
    <script src="{{ asset('front/node_modules/owl.carousel/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('front/js/feedback.alt.component.js') }}"></script>
    <script src="{{ asset('front/js/gallery.component.js') }}"></script>
    <script src="{{ asset('front/js/menu.component.js') }}"></script>
    <script>

        let FAQComponent = {
            init: function () {
                $(".c-faq").click(function () {
                    let faq = $(this);
                    let open = true;
                    if (faq.hasClass('c-faq__opened')) {
                        open = false;
                    }

                    if (open) {
                        $(".c-faq__opened").removeClass('c-faq__opened');
                        faq.addClass('c-faq__opened');
                    } else {
                        faq.removeClass('c-faq__opened');
                    }
                });
            }
        };

        $(document).ready(() => {
            FAQComponent.init();
        });
    </script>
{% endblock %}