<!DOCTYPE html>
<html>
<head>
    <title>LangeHouse</title>
    <!--meta-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Clean, Cleaning, Maid, Laundry, Car Cleaning, Gardening, Janitorial, Move In Out, Window Cleaning" />
    <meta name="description" content="" />
    <!--slider revolution-->
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/rs-plugin/css/settings.css') }}">
    <!--style-->
    <link href='//fonts.googleapis.com/css?family=Raleway:300,400,500&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/superfish.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/prettyPhoto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/jquery.qtip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/dist/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/animations.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/style/odometer-theme-default.css') }}">
    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/fonts/features/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/fonts/template/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('front/v2/fonts/social/style.css') }}">
    <style>
        .slider-subtitle {
            max-width: 1200px;
            text-align: center;
            margin: auto;
        }
        .slider-subtitle strong {
            background: rgba(0,0,0,0.3);
            padding: 5px 20px;
            border-radius: 10px;
            line-height: 100px;
        }

        .scroll-downs {
            position: absolute;
            bottom: 120px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;
            width: 150px;
            height: 85px;
            text-align: center; }
        .scroll-downs .label {
            color: #FFF;
            margin-top: 10px;
            position: relative;
            left: 6px; }

        .mousey {
            width: 1px;
            height: 55px;
            opacity: 0.75;
            box-sizing: content-box;
            margin: auto;
            background: #FAF9F9;
            position: relative;
            left: 5px; }
        .mousey .scroller {
            width: 11px;
            height: 11px;
            position: relative;
            right: 5px;
            border-radius: 10px;
            background-color: #fff;
            animation-name: scroll;
            animation-duration: 2.5s;
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-iteration-count: infinite; }

        .swipey {
            width: 55px;
            height: 1px;
            opacity: 0.75;
            box-sizing: content-box;
            margin: auto;
            background: #FAF9F9;
            position: relative;
            bottom: 27px;
            left: 5px; }
        .swipey .scroller {
            width: 11px;
            height: 11px;
            position: relative;
            bottom: 5px;
            border-radius: 10px;
            background-color: #fff;
            animation-name: scroll-right;
            animation-duration: 2.5s;
            animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
            animation-iteration-count: infinite; }

        @keyframes scroll {
            0% {
                transform: translateY(0);
                opacity: 0; }
            30% {
                transform: translateY(15px);
                opacity: 1; }
            100% {
                transform: translateY(40px);
                opacity: 0; } }
        @keyframes scroll-right {
            0% {
                transform: translateX(40px);
                opacity: 0; }
            30% {
                transform: translateX(15px);
                opacity: 1; }
            100% {
                transform: translateX(0px);
                opacity: 0; } }
    </style>
</head>
<body>
<div class="site-container">
    <div class="transparent-header-container height-auto">
        <div class="header-container sticky">
            <div class="header clearfix">
                <div class="menu-container first-menu clearfix">
                    <nav>
                        <ul class="sf-menu">
                            <li class="selected">
                                <a href="home.html" title="Home">
                                    HOME
                                </a>
                                <ul>
                                    <li class="selected">
                                        <a href="home.html" title="Home Style 1">
                                            Home Style 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="home_2.html" title="Home Style 2">
                                            Home Style 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="about.html" title="Pages">
                                    PAGES
                                </a>
                                <ul>
                                    <li>
                                        <a href="about.html" title="About Us Style 1">
                                            About Us Style 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about_2.html" title="About Us Style 2">
                                            About Us Style 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="services.html" title="Services Style 1">
                                            Services Style 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="services_2.html" title="Services Style 2">
                                            Services Style 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_house_cleaning.html" title="Single Service">
                                            Single Service
                                        </a>
                                    </li>
                                    <li>
                                        <a href="projects.html" title="Projects">
                                            Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="project_apartment_cleaning.html" title="Single Project">
                                            Single Project
                                        </a>
                                    </li>
                                    <li>
                                        <a href="team.html" title="Our Team">
                                            Our Team
                                        </a>
                                    </li>
                                    <li>
                                        <a href="team_celevic_parkhill.html" title="Single Team Member">
                                            Single Team Member
                                        </a>
                                    </li>
                                    <li>
                                        <a href="testimonials.html" title="Testimonials">
                                            Testimonials
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cleaning_checklist.html" title="Cleaning Checklist">
                                            Cleaning Checklist
                                        </a>
                                    </li>
                                    <li>
                                        <a href="404.html" title="404 Not Found">
                                            404 Not Found
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="service_calculator.html" title="Calculator">
                                    CALCULATOR
                                </a>
                            </li>
                            <li>
                                <a href="services.html" title="Services">
                                    SERVICES
                                </a>
                                <ul>
                                    <li>
                                        <a href="service_house_cleaning.html" title="House Cleaning">
                                            House Cleaning
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_post_renovation.html" title="Post Renovation">
                                            Post Renovation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_green_spaces_maintenance.html" title="Green Spaces Maintenance">
                                            Green Spaces Maintenance
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_move_in_out.html" title="Move In Out Service">
                                            Move In Out Service
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_commercial_cleaning.html" title="Commercial Cleaning">
                                            Commercial Cleaning
                                        </a>
                                    </li>
                                    <li>
                                        <a href="service_window_cleaning.html" title="Window Cleaning">
                                            Window Cleaning
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile-menu-container">
                        <nav>
                            <ul class="mobile-menu collapsible-mobile-submenus">
                                <li><a class="template-arrow-vertical-3" href="#">&nbsp;</a></li>
                                <li class="selected">
                                    <a href="home.html" title="Home">
                                        HOME
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li class="selected">
                                            <a href="home.html" title="Home Style 1">
                                                Home Style 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="home_2.html" title="Home Style 2">
                                                Home Style 2
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="about.html" title="Pages">
                                        PAGES
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="about.html" title="About Us Style 1">
                                                About Us Style 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="about_2.html" title="About Us Style 2">
                                                About Us Style 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="services.html" title="Services Style 1">
                                                Services Style 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="services_2.html" title="Services Style 2">
                                                Services Style 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_house_cleaning.html" title="Single Service">
                                                Single Service
                                            </a>
                                        </li>
                                        <li>
                                            <a href="projects.html" title="Projects">
                                                Projects
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_apartment_cleaning.html" title="Single Project">
                                                Single Project
                                            </a>
                                        </li>
                                        <li>
                                            <a href="team.html" title="Our Team">
                                                Our Team
                                            </a>
                                        </li>
                                        <li>
                                            <a href="team_celevic_parkhill.html" title="Single Team Member">
                                                Single Team Member
                                            </a>
                                        </li>
                                        <li>
                                            <a href="testimonials.html" title="Testimonials">
                                                Testimonials
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cleaning_checklist.html" title="Cleaning Checklist">
                                                Cleaning Checklist
                                            </a>
                                        </li>
                                        <li>
                                            <a href="404.html" title="404 Not Found">
                                                404 Not Found
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="service_calculator.html" title="Calculator">
                                        CALCULATOR
                                    </a>
                                </li>
                                <li>
                                    <a href="services.html" title="Services">
                                        SERVICES
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="service_house_cleaning.html" title="House Cleaning">
                                                House Cleaning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_post_renovation.html" title="Post Renovation">
                                                Post Renovation
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_green_spaces_maintenance.html" title="Green Spaces Maintenance">
                                                Green Spaces Maintenance
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_move_in_out.html" title="Move In Out Service">
                                                Move In Out Service
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_commercial_cleaning.html" title="Commercial Cleaning">
                                                Commercial Cleaning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="service_window_cleaning.html" title="Window Cleaning">
                                                Window Cleaning
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="projects.html" title="Projects">
                                        PROJECTS
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="project_apartment_cleaning.html" title="Apartment Cleaning">
                                                Apartment Cleaning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_garden_maintenance.html" title="Garden Maintenance">
                                                Garden Maintenance
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_move_in_out.html" title="Move In Out">
                                                Move In Out
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_after_renovation_cleaning.html" title="After Renovation Cleaning">
                                                After Renovation Cleaning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_house_cleaning.html" title="House Cleaning">
                                                House Cleaning
                                            </a>
                                        </li>
                                        <li>
                                            <a href="project_gutter_cleaning.html" title="Gutter Cleaning">
                                                Gutter Cleaning
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="blog.html" title="Blog">
                                        BLOG
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="blog.html" title="Blog">
                                                Blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_small_image.html" title="Blog Small Image">
                                                Blog Small Image
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_2_columns.html" title="Blog 2 Columns">
                                                Blog 2 Columns
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog_left_sidebar.html" title="Blog Left Sidebar">
                                                Blog Left Sidebar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post.html" title="Single Post">
                                                Single Post
                                            </a>
                                        </li>
                                        <li>
                                            <a href="search.html?s=ipsum" title="Search Template">
                                                Search Template
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" title="Contact">
                                        CONTACT
                                    </a>
                                    <a href="#" class="template-arrow-menu"></a>
                                    <ul>
                                        <li>
                                            <a href="contact.html" title="Contact Style 1">
                                                Contact Style 1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact_2.html" title="Contact Style 2">
                                                Contact Style 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact_3.html" title="Contact Style 3">
                                                Contact Style 3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="logo">
                    <h1>
                        <a href="home.html" title="LangeHouse">
                            <img src="{{ asset('front/media/images/logo/logo_white.png') }}" style="height: 60px;" height="53" srcset="images/logo_retina.png 2x" class="secondary-logo" alt="logo">
                            <img src="{{ asset('front/media/images/logo/logo_white.png') }}" style="height: 60px;" height="53" srcset="images/logo_transparent_retina.png 2x" class="primary-logo" alt="logo">
                        </a>
                    </h1>
                    <div class="logo-clone">
                        <h1>
                            <ul class="social-icons">
                                <li>
                                    <a href="home.html" style="padding-top: 0;" title="LangeHouse">
                                        <img src="{{ asset('front/media/images/logo/logo_original_color.png') }}" style="height: 60px;" height="53" srcset="images/logo_retina.png 2x" class="secondary-logo" alt="logo">
                                        <img src="{{ asset('front/media/images/logo/logo_white.png') }}" style="height: 120px;" srcset="images/logo_transparent_retina.png 2x" class="primary-logo" alt="logo">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="" class="social-twitter link last" title="twitter"></a>
                                </li>
                                <li>
                                    <a href="" class="social-pinterest link " title="pinterest"></a>
                                </li>
                                <li>
                                    <a target="_blank" href="" class="social-facebook link " title="facebook"></a>
                                </li>

                            </ul>

                        </h1>
                    </div>
                </div>
                <a href="#" class="mobile-menu-switch">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Slider Revolution -->
    <div class="revolution-slider-container">
        <div class="revolution-slider" data-version="5.4.5">
            <ul>
                {% for slide in slides %}
                    <!-- SLIDE 1 -->
                    <li data-transition="fade" data-masterspeed="500" data-slotamount="1" data-delay="6000">
                        <!-- MAIN IMAGE -->
                        <img src="https://www.langehouse.se/{{ asset('uploads/slide/bg_' ~ slide.image) }}" alt="slidebg1" data-bgfit="cover">
                        <!-- LAYERS -->

                        <!-- LAYER 03 -->
                        <div class="tp-caption"
                             data-frames='[{"delay":1100,"speed":2000,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                             data-x="center"
                             data-y="['100', '100', '100', '100']"
                        >
                            <h2 class="slider-subtitle"><strong>{{ slide.languageData(app.request.locale).title }}</strong></h2>
                        </div>
                        <!-- LAYER 04 -->
                        <div class="tp-caption"
                             data-frames='[{"delay":1500,"speed":1500,"from":"y:40;o:0;","ease":"easeInOutExpo"},{"delay":"wait","speed":500,"to":"o:0;","ease":"easeInOutExpo"}]'
                             data-x="center"
                             data-y="['476', '478', '304', '353']"
                        >
                            <div class="align-center">
                                <a class="more" href="{{ slide.languageData(app.request.locale).link }}" title="Service calculator">{{ "read-more" | translate('misc') }}</a>
                            </div>
                        </div>
                        <!-- / -->
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container position-relative" style="position: relative; z-index: 99999999;">
            <div class="scroll-downs">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
                <div class="swipey d-block d-md-none d-lg-none d-xl-none">
                    <div class="scroller"></div>
                </div>
                <div class="label d-none d-sm-none d-md-block d-lg-block d-xl-block">{{ "scroll" | translate('header') }}</div>
            </div>
        </div>
    </div>
    <!--/-->
    <div class="theme-page">
        <div class="clearfix">
            <div class="row page-margin-top-section">
                <div class="column column-1-4">
                    <div class="row">
                        <a href="https://www.langehouse.se//uploads/gallery/bg_1574522653_7632.jpg" class="prettyPhoto cm-preload" title="House Cleaning">
                            <img src='https://www.langehouse.se//uploads/gallery/bg_1574522653_7632.jpg' alt='img' style="border-radius: 10px">
                        </a>
                    </div>
                    <div class="row margin-top-30">
                        <a href="https://www.langehouse.se//uploads/gallery/bg_1574522661_7550.jpg" class="prettyPhoto cm-preload" title="Window Cleaning">
                            <img src='https://www.langehouse.se//uploads/gallery/bg_1574522661_7550.jpg' alt='img' style="border-radius: 10px">
                        </a>
                    </div>
                </div>
                <div class="column column-1-4">
                    <a href="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" class="prettyPhoto cm-preload" title="Apartment Cleaning">
                        <img src='https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg' alt='img' style="border-radius: 10px">
                    </a>
                </div>
                <div class="column column-1-2">
                    <h2 class="box-header">ABOUT OUR COMPANY</h2>
                    <p class="description align-center">{{ "about-us-caption" | replace("\n", '<br>') | translate('landing') }}</p>
                    <p class="align-center padding-0 margin-top-27 margin-bottom-27 padding-left-right-35">
                        {{ "about-us-content" | replace("\n", '<br>') | translate('landing', 'textarea') }}
                    </p>
                    <div class="align-center page-margin-top padding-bottom-16">
                        <a class="more" href="{{ url('app_static_single', { 'slug': 'about-us' }) }}" title="Learn more">{{ "read-more" | translate('misc') }}</a>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-96 page-margin-top-section parallax parallax-1 overlay">
                <div class="row">
                    <div class="tabs white no-scroll margin-top-27 clearfix">
                        <ul class="tabs-navigation clearfix" style="width: 20%; display: inline-block; float: left;">
                            <li>
                                <a href="#our-customers" title="Our Customers" class="features-email">
                                    SUPPORT
                                </a>
                            </li>
                            <li>
                                <a href="#the-environment" title="The Environment" class="features-eco">
                                    THE ENVIRONMENT
                                </a>
                            </li>
                            <li>
                                <a href="#communication" title="Communication" class="features-car">
                                    ACCESSIBILITY
                                </a>
                            </li>
                        </ul>
                        <div style="width: 80%; display: inline-block; vertical-align: middle; padding-top: 120px;">
                            <div id="our-customers">
                                <h3 style="color: white;">Some Title 1</h3>
                                <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact LangeHouse. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                                <p class="margin-top-10"><a class="more gray" href="http://127.0.0.1:8000/sw/pages/about-us" title="Learn more">Learn More</a></p>
                            </div>
                            <div id="the-environment">
                                <h3 style="color: white;">Some Title 2</h3>
                                <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact LangeHouse. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                                <p class="margin-top-10"><a class="more gray" href="http://127.0.0.1:8000/sw/pages/about-us" title="Learn more">Learn More</a></p>
                            </div>
                            <div id="communication">
                                <h3 style="color: white;">Some Title 3</h3>
                                <p>Our cleaning services are affordable and our cleaning experts are highly trained. If for any reason you aren't happy with our professional cleaning services, contact LangeHouse. We will come back and clean the specific areas that didn't meet your expectations. Nothing is more important to us than your satisfaction.</p>
                                <p class="margin-top-10"><a class="more gray" href="http://127.0.0.1:8000/sw/pages/about-us" title="Learn more">Learn More</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div style="display: none;" class="row padding-bottom-96 margin-top-89">
                <div class="row">
                    <h2 class="box-header">WHY CHOOSE US</h2>
                    <p class="description align-center">LangeHouse operates in Sweden and provides a variety of cleaning services.<br>Choose us because of our reputation for excellence.</p>
                    <div class="row page-margin-top">
                        <div class="column column-1-4">
                            <ul class="features-list align-right margin-top-30">
                                <li>
                                    <div class="icon features-diamond"></div>
                                    <h4>SPARKLING CLEAN</h4>
                                    <p>We keep your home sparkling clean and germ free. Our disinfecting process kills 99% of common bacteria and viruses.</p>
                                </li>
                                <li>
                                    <div class="icon features-umbrella"></div>
                                    <h4>INSURED AND BONDED</h4>
                                    <p>Our cleaners are insured and bonded so no need to worry about your apartment, office or garden.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="column column-1-2 align-center">
                            <div class="image-wrapper">
                                <img src="{{ asset('front/v2/images/samples/480x480/placeholder.jpg') }}" alt="" class="radius border">
                            </div>
                        </div>
                        <div class="column column-1-4">
                            <ul class="features-list margin-top-30">
                                <li>
                                    <div class="icon features-eco"></div>
                                    <h4>LEADING TECHNOLOGIES</h4>
                                    <p>We use safe hospital-grade disinfectants, HEPA filtrations and microfiber cleaning cloths to reduce cross contamination.</p>
                                </li>
                                <li>
                                    <div class="icon features-maid"></div>
                                    <h4>RELIABLE CREWS</h4>
                                    <p>Our reliable and stable crews understand your specific house and office clearning service needs.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="align-center margin-top-65 padding-bottom-16">
                        <a class="more" href="#" title="Learn more">Learn more</a>
                    </div>
                </div>
            </div>
           <div class="row full-width gray padding-top-89 padding-bottom-96">
                <div class="row">
                    <h2 class="box-header">OUR CLEANING SERVICES</h2>
                    <p class="description align-center">Do you wish you had more free time? We can make it happen!</p>
                    <div class="carousel-container margin-top-65 clearfix">
                        <ul class="services-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="#" title="House Cleaning">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="House Cleaning">HOUSE CLEANING</a></h4>
                                <p>Complete apartment and house cleaning services by professional cleaners.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Post Renovation">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Post Renovation">POST RENOVATION</a></h4>
                                <p>Get rid of the dust left behind after construction or renovation.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Green Spaces Maintenance">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Green Spaces Maintenance">GREEN SPACES MAINTENANCE</a></h4>
                                <p>The right maintenance methods will make keeping your garden beautiful.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Move In Out Service">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Move In Out Service">MOVE IN OUT SERVICE</a></h4>
                                <p>We will leave the place you're leaving look even better than it did when you moved in.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Commercial Cleaning">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Commercial Cleaning">COMMERCIAL CLEANING</a></h4>
                                <p>Only the most skilled professionals for commercial office cleaning.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Window Cleaning">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Window Cleaning">WINDOW CLEANING</a></h4>
                                <p>The highest quality window cleaning service at a competitive price.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="House Cleaning">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="House Cleaning">HOUSE CLEANING</a></h4>
                                <p>Complete apartment and house cleaning services by professional cleaners.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Post Renovation">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Post Renovation">POST RENOVATION</a></h4>
                                <p>Get rid of the dust left behind after construction or renovation.</p>
                            </li>
                            <li class="column column-1-3">
                                <a href="#" title="Green Spaces Maintenance">
                                    <img src="https://www.langehouse.se//uploads/gallery/bg_1574522669_5171.jpg" alt="">
                                </a>
                                <h4 class="box-header"><a href="#" title="Green Spaces Maintenance">GREEN SPACES MAINTENANCE</a></h4>
                                <p>The right maintenance methods will make keeping your garden beautiful.</p>
                            </li>
                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="row full-width padding-bottom-100 counters-group parallax parallax-2 overlay" style="display: none;">
                <div class="row">
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="295" data-animation-start="230"></span>
                            <p>COMPLETED MOVINGS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="400" data-animation-start="230"></span>
                            <p>HAPPY CUSTOMERS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="527" data-animation-start="230"></span>
                            <p>COMPLETED PROJECTS</p>
                        </div>
                    </div>
                    <div class="column column-1-4">
                        <div class="counter-box">
                            <div class="ornament-container">
                                <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                            </div>
                            <span class="number animated-element" data-value="105" data-animation-start="230"></span>
                            <p>PLACES CLEANED</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-width gray padding-top-89 padding-bottom-100" style="position: relative;">
                <div class="c-broom" style="position: absolute; top: -5%; right: 10%;">
                    <img src="{{ asset('front/media/images/broom.png') }}">
                </div>
                <div class="c-broom" style="position: absolute; top: -2%; left: 10%; transform: rotate(15deg)">
                    <img src="{{ asset('front/media/images/bubbles.png') }}" width="50%">
                </div>
                <div class="row">
                    <h2 class="box-header">SIMPLE PLANS. SIMPLE PRICING</h2>
                    <p class="description align-center">LangeHouse comes with cost calculator - a unique tool which allows you to easily create<br>price estimation forms to give your client idea of the cost of your service.</p>
                    <form class="cost-calculator-container row margin-top-65 prevent-submit" method="post" action="#">
                        <fieldset class="column column-1-2">
                            <div class="cost-calculator-box clearfix">
                                <label>Total area to be cleaned in square feet:</label>
                                <input type="hidden" name="clean-area-label" value="Total area to be cleaned">
                                <div class="cost-slider-container">
                                    <input id="clean-area" class="cost-slider-input" name="clean-area" type="number" value="1200">
                                    <div class="cost-slider" data-value="1200" data-step="1" data-min="1" data-max="2000" data-input="clean-area"></div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="column column-1-2">
                            <div class="cost-calculator-box clearfix">
                                <label>Cleaning frequency:</label>
                                <input type="hidden" name="cleaning-frequency-label" value="Cleaning frequency">
                                <select name="cleaning-frequency" id="cleaning-frequency" class="cost-dropdown">
                                    <option value="">Choose...</option>
                                    <option value="0.4">Weekly Service</option>
                                    <option value="0.8">Bi-Weekly Service</option>
                                    <option value="1.2">Tri-Weekly Service</option>
                                    <option value="1.6">Quarter Weekly Service</option>
                                    <option value="0.1">Monthly Service</option>
                                    <option value="0.2" selected="selected">One Time Service</option>
                                </select>
                                <input type="hidden" class="cleaning-frequency" name="cleaning-frequency-name" value="">
                            </div>
                        </fieldset>
                    </form>
                    <div class="row margin-top-30 flex-box">
                        <form class="cost-calculator-container column column-1-3" method="post" action="#">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>BASIC SERVICE</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="basic-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="basic-service-total-cost" name="basic-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>1 Bathroom cleaning</li>
                                    <li>Up to 3 bedrooms cleaning</li>
                                    <li>1 Livingroom cleaning</li>
                                    <li>Small kitchen (0 - 150 ft2)</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Garage cleaning</li>-->
                                    <li>Up to 2 additional rooms cleaning</li>
                                    <!--<li>Wiping the dust from furniture</li>
                                    <li>Cleaning window sills</li>
                                    <li>Cleaning mirrors</li>
                                    <li>Vacumming floors and floor coverings</li>
                                    <li>Emptying garbage cans</li>
                                    <li>Cleaning kitchen worktops, sink and hob</li>
                                    <li>Cleaning toilets and bathroom fixtures</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="basic-service-bathrooms" name="bathrooms" value="1">
                                    <input type="hidden" id="basic-service-bedrooms" name="bedrooms" value="3">
                                    <input type="hidden" id="basic-service-livingrooms" name="livingrooms" value="1">
                                    <input type="hidden" id="basic-service-kitchen-size" name="kitchen-size" value="15">
                                    <input type="hidden" id="basic-service-bathroom-includes" name="bathroom-includes" value="">
                                    <input type="hidden" id="basic-service-pets" name="pets" value="0">
                                    <input type="hidden" id="basic-service-cleaning-supplies" name="cleaning-supplies" value="0">
                                    <input type="hidden" id="basic-service-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="basic-service-play-room" name="play-room" value="0">
                                    <input type="hidden" id="basic-service-laundry" name="laundry" value="0">
                                    <input type="hidden" id="basic-service-gym" name="gym" value="0">
                                    <input type="hidden" id="basic-service-garage" name="garage" value="20">
                                    <input type="hidden" id="basic-service-refrigerator-clean" name="refrigerator-clean" value="0">
                                    <input type="submit" name="submit_basic" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                        <form class="cost-calculator-container column column-1-3" method="post" action="#">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>PREMIUM SERVICE</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="premium-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="premium-service-total-cost" name="premium-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>Up to 2 bathrooms cleaning</li>
                                    <li>Up to 4 bedrooms cleaning</li>
                                    <li>Up to 2 livingrooms cleaning</li>
                                    <li>Medium kitchen (151 - 250 ft2)</li>
                                    <li>Pets hair removing</li>
                                    <li>Up to 5 additional rooms cleaning</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Play room cleaning</li>
                                    <li>Laundry cleaning</li>
                                    <li>Gym cleaning</li>
                                    <li>Garage cleaning</li>
                                    <li>The scope of basic service +</li>
                                    <li>Washing floors</li>
                                    <li>Cleaning lamps and heaters</li>
                                    <li>Cleaning of bathroom and kitchen tiles</li>
                                    <li>Cleaning cabinets fronts</li>
                                    <li>Cleaning doors and doorframes</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="premium-service-bathrooms" name="bathrooms" value="2">
                                    <input type="hidden" id="premium-service-bedrooms" name="bedrooms" value="4">
                                    <input type="hidden" id="premium-service-livingrooms" name="livingrooms" value="2">
                                    <input type="hidden" id="premium-service-kitchen-size" name="kitchen-size" value="20">
                                    <input type="hidden" id="premium-service-bathroom-includes" name="bathroom-includes" value="10">
                                    <input type="hidden" id="premium-service-pets" name="pets" value="30">
                                    <input type="hidden" id="premium-service-cleaning-supplies" name="cleaning-supplies" value="300">
                                    <input type="hidden" id="premium-service-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="premium-service-play-room" name="play-room" value="15">
                                    <input type="hidden" id="premium-service-laundry" name="laundry" value="0">
                                    <input type="hidden" id="premium-service-gym" name="gym" value="17">
                                    <input type="hidden" id="premium-service-garage" name="garage" value="20">
                                    <input type="hidden" id="premium-service-refrigerator-clean" name="refrigerator-clean" value="0">
                                    <input type="submit" name="submit_premium" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                        <form class="cost-calculator-container column column-1-3" method="post" action="#">
                            <div class="cost-calculator-box cost-calculator-sum clearfix">
                                <h4>POST RENOVATION</h4>
                                <span class="cost-calculator-price small-currency margin-top-33" id="post-renovation-service-cost"><span class="currency">$</span>0.00</span>
                                <input type="hidden" id="post-renovation-service-total-cost" name="post-renovation-service-total-cost">
                                <p class="cost-calculator-price-description">/ per month</p>
                                <ul class="simple-list margin-top-20">
                                    <li>Up to 3 bathrooms cleaning</li>
                                    <li>Up to 6 bedrooms cleaning</li>
                                    <li>Up to 3 livingrooms cleaning</li>
                                    <li>Large kitchen (>250 ft2)</li>
                                    <li>Pets hair removing</li>
                                    <!--<li>Dinning room cleaning</li>
                                    <li>Play room cleaning</li>
                                    <li>Laundry cleaning</li>
                                    <li>Gym cleaning</li>
                                    <li>Garage cleaning</li>-->
                                    <li>Up to 5 additional rooms cleaning</li>
                                    <li>Refrigerator cleaning</li>
                                    <!--<li>The scope of premium service +</li>
                                    <li>Dust removal after renovation</li>
                                    <li>Cleaning cabinets inside</li>
                                    <li>Cleaning windows and window frames</li>
                                    <li>Washing the inside of the refrigerator</li>-->
                                </ul>
                                <div class="cost-calculator-submit-container">
                                    <input type="hidden" class="clean-area-hidden" name="clean-area" value="1200">
                                    <input type="hidden" class="cleaning-frequency-hidden" name="cleaning-frequency" value="0.2">
                                    <input type="hidden" id="post-renovation-bathrooms" name="bathrooms" value="3">
                                    <input type="hidden" id="post-renovation-bedrooms" name="bedrooms" value="6">
                                    <input type="hidden" id="post-renovation-livingrooms" name="livingrooms" value="3">
                                    <input type="hidden" id="post-renovation-kitchen-size" name="kitchen-size" value="25">
                                    <input type="hidden" id="post-renovation-bathroom-includes" name="bathroom-includes" value="15">
                                    <input type="hidden" id="post-renovation-pets" name="pets" value="30">
                                    <input type="hidden" id="post-renovation-cleaning-supplies" name="cleaning-supplies" value="500">
                                    <input type="hidden" id="post-renovation-dining-room" name="dining-room" value="10">
                                    <input type="hidden" id="post-renovation-play-room" name="play-room" value="15">
                                    <input type="hidden" id="post-renovation-laundry" name="laundry" value="14">
                                    <input type="hidden" id="post-renovation-gym" name="gym" value="17">
                                    <input type="hidden" id="post-renovation-garage" name="garage" value="20">
                                    <input type="hidden" id="post-renovation-refrigerator-clean" name="refrigerator-clean" value="20">
                                    <input type="submit" name="submit_post_renovation" value="Customize" class="more gray">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row full-width padding-top-59 padding-bottom-60 align-center">
                <h3><span class="button-label">SEE MORE CALCULATOR EXAMPLES</span> <a class="more" href="#" title="Service calculator">Service calculator</a></h3>
            </div>
            <div class="row full-width padding-top-112 padding-bottom-115 parallax parallax-3 overlay">
                <div class="row testimonials-container">
                    <a href="#" class="slider-control left template-arrow-horizontal-3"></a>
                    <ul class="testimonials-list testimonials-carousel">
                        {% for testimonial in testimonials %}
                            <li>

                                <p style="font-style: italic">"{{ testimonial.languageData(app.request.locale).content }}"</p>
                                <h6>{{ testimonial.languageData(app.request.locale).author }}, {{ testimonial.languageData(app.request.locale).role }}</h6>
                                <div class="author-details">
                                    <img style="width: 50px; height: 50px; border-radius: 50px;" src="https://www.langehouse.se{{ asset('uploads/testimonial/thumb_' ~ testimonial.image) }}" alt="{{ testimonial.languageData(app.request.locale).author }} testimonial" title="{{ testimonial.languageData(app.request.locale).author }} testimonial">
                                    <div>
                                        <div class="c-testimonial--rating">
                                            {% for i in 0..(testimonial.rating - 1) %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                            {% for i in 0..(5 - testimonial.rating - 1) %}
                                                {% if testimonial.rating < 5 %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="slider-control right template-arrow-horizontal-3"></a>
                </div>
            </div>
            <div class="row full-width padding-top-89 padding-bottom-100">
                <div class="row">
                    <h2 class="box-header">SELECTED PROJECTS</h2>
                    <p class="description align-center">Explore completed projects.</p>
                    <div class="carousel-container margin-top-65 clearfix" style="">
                        <ul class="projects-list horizontal-carousel clearfix page-margin-top">
                            <li class="column column-1-3">
                                <a href="project_apartment_cleaning.html" title="Apartment Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="project_apartment_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_gutter_cleaning.html" title="Gutter Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="project_gutter_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_move_in_out.html" title="Move In Out">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="project_move_in_out.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_after_renovation_cleaning.html" title="After Renovation Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>After Renovation Cleaning</p>
                                            <a class="more simple" href="project_after_renovation_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_house_cleaning.html" title="House Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>House Cleaning</p>
                                            <a class="more simple" href="project_house_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_garden_maintenance.html" title="Garden Maintenance">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Garden Maintenance</p>
                                            <a class="more simple" href="project_garden_maintenance.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_apartment_cleaning.html" title="Apartment Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Apartment cleaning</p>
                                            <a class="more simple" href="project_apartment_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_gutter_cleaning.html" title="Gutter Cleaning">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Gutter Cleaning</p>
                                            <a class="more simple" href="project_gutter_cleaning.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="column column-1-3">
                                <a href="project_move_in_out.html" title="Move In Out">
                                    <img src="{{ asset('front/v2/images/samples/480x320/placeholder.jpg') }}" alt="">
                                </a>
                                <div class="view align-center">
                                    <div class="vertical-align-table">
                                        <div class="vertical-align-cell">
                                            <p>Move In Out</p>
                                            <a class="more simple" href="project_move_in_out.html" title="View project">View project</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="cm-carousel-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dark footer-row full-width padding-top-30">
        <div class="row padding-bottom-33">
            <div class="column column-1-3">
                <ul class="contact-details-list">
                    <li class="features-phone">
                        <label>CALL US TODAY</label>
                        <p><a href="tel:2507257052">+44 7974 631 130</a></p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="contact-details-list">
                    <li class="features-map">
                        <label>SWEDEN</label>
                        <p>Address</p>
                    </li>
                </ul>
            </div>
            <div class="column column-1-3">
                <ul class="contact-details-list">
                    <li class="features-wallet">
                        <label>ESTIMATE YOUR COSTS</label>
                        <p><a href="service_calculator.html" title="Online Service Calculator">Online Calculator</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row dark-gray footer-row full-width padding-bottom-36" style="position: relative;">
        <div class="c-map" id="map" style="width: 100%; height: 600px; z-index: 1;"></div>
        <div class="c-footer-text">
            <div class="row row-4-4">
                <div class="column column-1-3">
                    <h6>OUR SERVICES</h6>
                    <ul class="list margin-top-31">
                        <li class="template-arrow-horizontal-2"><a href="service_commercial_cleaning.html" title="Commercial Cleaning">Commercial Cleaning</a></li>
                        <li class="template-arrow-horizontal-2"><a href="service_house_cleaning.html" title="House Cleaning">House Cleaning</a></li>
                        <li class="template-arrow-horizontal-2"><a href="service_move_in_out.html" title="Move In Out Service">Move In Out Service</a></li>
                        <li class="template-arrow-horizontal-2"><a href="service_post_renovation.html" title="Post Renovation">Post Renovation</a></li>
                        <li class="template-arrow-horizontal-2"><a href="service_window_cleaning.html" title="Window Cleaning">Window Cleaning</a></li>
                        <li class="template-arrow-horizontal-2"><a href="service_green_spaces_maintenance.html" title="Green Spaces Maintenance">Green Spaces Maintenance</a></li>
                        <li class="template-arrow-horizontal-2">Novum Elementum</li>
                        <li class="template-arrow-horizontal-2">Sicilium Polon</li>
                    </ul>
                </div>
                <div class="column column-1-4">
                    <h6>CONTACT INFO</h6>
                    <ul class="contact-data margin-top-20">
                        <li class="template-location"><div class="value">Address</div></li>
                        <li class="template-mobile"><div class="value"><a href="tel:2507257052">+44 7997 777 999</a></div></li>
                        <li class="template-email"><div class="value"><a href="mailto:contact@LangeHouse.com">contact@LangeHouse.com</a></div></li>
                        <li class="template-clock"><div class="value">Mon-Fri: 08.00 am - 05.00 pm</div></li>
                        <li class="template-clock"><div class="value">Saturday, Sunday: closed</div></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-center padding-top-30">
            <span class="copyright">© Copyright 2022 LangeHouse</span>
        </div>
    </div>
</div>
<a href="#top" class="scroll-top animated-element template-arrow-vertical-3" title="Scroll to top"></a>
<div class="background-overlay"></div>
<!--js-->
<script type="text/javascript" src="{{ asset('front/v2/js/jquery-3.6.0.min.js') }}"></script>
<!--slider revolution-->
<script type="text/javascript" src="{{ asset('front/v2/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.ba-bbq.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery-ui-1.12.1.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.ui.touch-punch.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.isotope.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.easing.1.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.touchSwipe.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.transit.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.timeago.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.hint.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.costCalculator.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.parallax.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.prettyPhoto.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.qtip.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.blockUI.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/jquery.imagesloaded-packed.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/v2/js/odometer.min.js') }}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPGAYwtKyuGUQOBmvnhdbwdFfqPEMc-04&callback=initMap">
</script>
<script>
    function initMap() {
        MapComponent.init();
        $(window).scroll(function () {
            MapComponent.init();
        });
    }

    let MapComponent = {
        initialised: false,
        init: function () {
            if ($(window).scrollTop() < 100 || this.initialised) {
                return;
            }
            this.initialised = true;
            let mapStyle = new google.maps.StyledMapType([
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "saturation": 36
                        },
                        {
                            "color": "#333333"
                        },
                        {
                            "lightness": 40
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#fefefe"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#fefefe"
                        },
                        {
                            "lightness": 17
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": 20
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#FF6606"
                        },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#dedede"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dedede"
                        },
                        {
                            "lightness": 29
                        },
                        {
                            "weight": 0.2
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dedede"
                        },
                        {
                            "lightness": 18
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        },
                        {
                            "color": "#918D94"
                        },
                        {
                            "lightness": 19
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#918D94"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]);

            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            let lat = 57.66783;
            let lng = 11.8583962;
            let koef = 0.05;
            let zoom = 14;
            if ($(window).width() < 800) {
                koef = 0.025;
                zoom = 13;
            }
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng - koef},
                zoom: zoom,
                disableDefaultUI: true,
                mapTypeControlOptions: {
                    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain', 'styled_map']
                }
            });

            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('styled_map', mapStyle);
            map.setMapTypeId('styled_map');

            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                icon: {
                    url: './front/media/images/icon/marker.gif',
                    scaledSize: new google.maps.Size(100, 100)
                },
                title: 'We are here!',
            });
        }
    }
</script>
</body>
</html>