<section data-jarallax class="c-functions jarallax c-section">
    <img class="jarallax-img" src="{{ asset('front/media/background/function-bg.jpg') }}" alt="">
    <div class="container">
        <div class="c-section--header">
            <div class="c-section--header--title">We Make Customers Happy</div>
            <div class="c-section--header--line">
                <div class="c-section--header--line--icon">
                    <i class="fa fa-smile"></i>
                </div>
            </div>
            <div class="c-section--header--subtitle">even in those small things they would never think of</div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="c-function" data-src="{{ asset('front/media/images/screen1.png') }}">
                    <div class="c-function--text">
                        <div class="c-function--text--title">Progress</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                    <div class="c-function--icon"><i class="fa fa-tasks"></i></div>
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                </div>
                <div class="c-function" data-src="{{ asset('front/media/images/screen2.png') }}">
                    <div class="c-function--text">
                        <div class="c-function--text--title">Tickets</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                    <div class="c-function--icon"><i class="fa fa-ticket-alt"></i></div>
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                </div>
                <div class="c-function" data-src="{{ asset('front/media/images/screen1.png') }}">
                    <div class="c-function--text">
                        <div class="c-function--text--title">Security</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                    <div class="c-function--icon"><i class="fa fa-shield-alt"></i></div>
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <img class="function-image" src="" width="80%">
            </div>
            <div class="col-4">
                <div class="c-function c-function__alt" data-src="{{ asset('front/media/images/screen2.png') }}">
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                    <div class="c-function--icon"><i class="fa fa-file-invoice-dollar"></i></div>
                    <div class="c-function--text">
                        <div class="c-function--text--title">Billing</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                </div>
                <div class="c-function c-function__alt" data-src="{{ asset('front/media/images/screen1.png') }}">
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                    <div class="c-function--icon"><i class="fa fa-chart-line"></i></div>
                    <div class="c-function--text">
                        <div class="c-function--text--title">Monitoring</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                </div>
                <div class="c-function c-function__alt" data-src="{{ asset('front/media/images/screen2.png') }}">
                    <div class="c-function--progress">
                        <div class="c-function--progress--line"></div>
                        <div class="c-function--progress--dot"></div>
                    </div>
                    <div class="c-function--icon"><i class="far fa-life-ring"></i></div>
                    <div class="c-function--text">
                        <div class="c-function--text--title">Support</div>
                        <div class="c-function--text--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>