<div class="brand-panel {% if static is defined %}static{% endif %}">
    <a href="#top" class="brand js-target-scroll">
        <img data-src="{{ asset('front/media/logo-v3-small.png') }}" height="70">
    </a>
    <div class="brand-name">LIQUIDEC</div>
    {% if static is not defined %}
    <div class="slide-number">
        <span class="current-number text-primary">0<span class="count">1</span></span>
        <sup><span class="delimiter">/</span> 0<span class="total-count"></span></sup>
    </div>
    {% endif %}
</div>
<a href="tel:+441214486230">
    <div class="header-phone">+44 121 448 6230</div>
    {#{% if business.workingNow %}#}
        {#<div class="open-now">OPEN NOW!</div>#}
    {#{% endif %}#}
</a>
{% if static is not defined %}
<div class="vertical-panel"></div>
{% endif %}
<div class="vertical-panel-content">
    <div class="vertical-panel-info">
        <div class="vertical-panel-title">Liquid Wallpapers</div>
        <div class="line"></div>
    </div>
    <ul class="social-list">
        <li><a href="mailto:info@liquidec.co.uk" class="fa fa-envelope"></a></li>
        <li><a href="https://www.facebook.com/liquidec" class="fa fa-facebook"></a></li>
    </ul>
</div>

<!-- Navigation Desctop -->

<nav class="navbar-desctop visible-md visible-lg">
    <div class="container">
        <a href="#top" class="brand js-target-scroll">
            <img data-src="{{ asset('front/media/logo-v3-small.png') }}" height="40">
        </a>
        {% if business.workingNow %}
            <div class="open-now-float open-now-float__desktop"><a href="tel:+441214486230">OPEN NOW!</a></div>
        {% endif %}
        <ul class="navbar-desctop-menu">
            <li class="active">
                <a href="{{ url('homepage_language') }}">Home</a>
            </li>
            <li>
                <a href="{{ url('app_static_single', {'slug': 'about-us'}) }}">About us</a>
            </li>
            <li>
                <a href="{{ url('app_static_single', {'slug': 'our-videos'}) }}">Our videos</a>
            </li>
            <li>
                <a href="#" class="submenu" data-id="catalogue">Catalog</a>
            </li>
        </ul>
        <div class="submenu-block" data-id="catalogue">
            <ul class="submenu-list">
                {% for category in catalogCategories %}
                    <li>
                        <a href="{{ url('app_catalog_category_single', {'slug': category.slug}) }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<!-- Navigation Mobile -->

<nav class="navbar-mobile">
    <a href="#top" class="brand js-target-scroll">
        <img data-src="{{ asset('front/media/logo-v3-small.png') }}" height="40">
    </a>
    {% if business.workingNow %}
        <div class="open-now-float"><a href="tel:+441214486230">OPEN NOW!</a></div>
    {% endif %}

    <!-- Navbar Collapse -->

    <button type="button" class="navbar-toggle collapsed menu-bar" data-toggle="collapse" data-target="#navbar-mobile">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav-mobile">
            <li class="active">
                <a href="{{ url('homepage_language') }}">Home</a>
            </li>
            <li>
                <a href="{{ url('app_static_single', {'slug': 'about-us'}) }}">About us</a>
            </li>
            <li>
                <a href="{{ url('app_static_single', {'slug': 'our-videos'}) }}">Our videos</a>
            </li>
            {% for category in catalogCategories %}
                <li>
                    <a href="{{ url('app_catalog_category_single', {'slug': category.slug}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>