<section class="c-section c-section__triangle">
    <div class="row">
        <div class="col-6">
            <img style="margin-top: 150px;" src="{{ asset('front/media/images/customer-relation.png') }}">
        </div>
        <div class="col-6">
            <div class="c-section--header">
                <div class="c-section--header--title">Relationship is our core value, not IT</div>
                <div class="c-section--header--line">
                    <div class="c-section--header--line--icon"><i class="fa fa-star"></i></div>
                </div>
                <div class="c-section--header--subtitle">And this made us think...</div>
            </div>
            <div class="c-section--content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique mauris vel sapien porta tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in orci quis elit condimentum ultricies. Nullam sit amet sem quis dui euismod sagittis. Nunc ultricies rutrum sem, in ultrices libero lacinia ut.</p>
                <p>Nulla ex purus, accumsan nec velit vel, sollicitudin blandit mauris. Proin viverra interdum nibh, imperdiet cursus odio efficitur sed. Nam hendrerit felis sed massa sagittis aliquet a nec lorem.</p>
                <p>Proin eu mi vitae nunc fringilla tristique a in eros. Donec eget finibus purus, quis mollis justo. Proin turpis mi, volutpat in fringilla ac, convallis quis odio. Suspendisse dignissim vehicula lacus, ac finibus nulla tristique ut.</p>
                <p>Integer lobortis viverra ligula, vel varius sapien pulvinar id. Nam vel urna massa.</p>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
</section>