<h1>Hi!</h1>
<p>You have received a message from website contact form:</p>
<p>Name: <b>{{ name }}</b></p>
<p>Email: <b>{{ email }}</b></p>
<p>Phone: <b>{{ phone }}</b></p>
<p>Message: <b>{{ message }}</b></p>