{% extends ':core/layout:core.layout.html.twig' %}
 {% block seo %}
     <title>Ooops, something weird happened!</title>
     <meta name="description" content="This is error page, not much to describe, our team is already investigating the issue.">
 {% endblock %}
{% block localCSS %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="text-center mt-5">
            <div class="error--image mt-5 mb-5">
                <img src="{{ asset('back/images/warning.png') }}" width="200">
            </div>
            {% if code == 404 %}
                <h1 class="mb-5">Page not found!</h1>
                <p>Page you have tried to visit does not exist! Our team is investigating why you got here, but if the ling appeared in any other page - we will make sure you never see it again!</p>
            {% else %}
                <h1 class="mb-5">Oops, something went completely wrong!</h1>
                <p>Our team is already investigating this and unless you have done something suspicious - please try again later & we are sure everything will be working again!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block localJS %}
{% endblock %}