{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Catalog Category</p>
                                    </div>
                                    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="title">Title</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="title" class="form-control" placeholder="Title" name="{{ language.key }}[title]" value="{{ item.languageData(language.key).title }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="caption">Caption</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="caption" class="form-control" placeholder="Caption" name="{{ language.key }}[caption]" value="{{ item.languageData(language.key).caption }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="content">Content</label>
                                                        <div class="col-md-9">
                                                            <textarea type="text" id="content" class="form-control summernote" placeholder="Content" name="{{ language.key }}[content]">{{ item.languageData(language.key).content }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <h4 class="form-section"><i class="ft-user"></i> Additional Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="parent">Parent</label>
                                                <div class="col-md-9">
                                                    <select class="form-control select2" name="parent">
                                                        <option value="0">--- Top Level ---</option>
                                                        {% for option in additional.parent %}
                                                            <option {% if (item.parent and item.parent.id == option.staticPage.id) or (app.request.get('parent') == option.staticPage.id) %}selected="selected"{% endif %} value="{{ option.staticPage.id }}">{{ option.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="name">Background</label>
                                                <div class="col-md-9">
                                                    <label class="custom-file center-block block">
                                                        <input type="file" id="file" name="background" class="custom-file-input">
                                                        <span class="custom-file-control"></span>
                                                    </label>
                                                    {% if item.background %}
                                                        <img src="{{ asset('uploads/catalog-category/' ~ item.background) }}" width="100">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="videos">Youtube Videos</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="videos[]" data-videos="{{ item.videos | join(',') }}" multiple data-role="tagsinput">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="type">Type</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="type">
                                                        <option {% if item.type == 'GENERAL' %}selected="selected"{% endif %} value="GENERAL">General Page</option>
                                                        <option {% if item.type == 'SERVICES' %}selected="selected"{% endif %} value="SERVICES">Services Page</option>
                                                        <option {% if item.type == 'TEAM' %}selected="selected"{% endif %} value="TEAM">Team Page</option>
                                                        <option {% if item.type == 'ABOUT' %}selected="selected"{% endif %} value="ABOUT">About Us Page</option>
                                                        <option {% if item.type == 'BASIC' %}selected="selected"{% endif %} value="BASIC">Basic Page</option>
                                                        <option {% if item.type == 'FAQ' %}selected="selected"{% endif %} value="FAQ">FAQ Page</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Children</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a href="{{ url('app_admin_section_add', {'section': section}) }}?parent={{ item.id }}"><i class="ft-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Manage static page children</p>
                                    </div>
                                    <table class="table">
                                        <thead class="bg-primary">
                                        <tr>
                                            <th>#</th>
                                            <th>Slug</th>
                                            <th>Title</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in item.children %}
                                            <tr>
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>{{ item.languageData(locale).slug }}</td>
                                                <td>{{ item.languageData(locale).title }}</td>
                                                <td>
                                                    <a href="{{ url('app_admin_section_edit', {'section': section, 'id': item.id}) }}">
                                                        <div class="btn btn-success btn-sm"><i class="ft-edit"></i> Edit</div>
                                                    </a>
                                                    <a href="{{ url('app_admin_section_delete', {'section': section, 'id': item.id}) }}">
                                                        <div class="btn btn-danger btn-sm"><i class="ft-trash-2"></i> Delete</div>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <style>
        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>
    <script>
        $(document).ready(function () {
            let values = $("select[name='videos[]']").data('videos');
            if (values !== undefined) {
                values = values.split(',');
                values.forEach(data => {
                    $("select[name='videos[]']").tagsinput('add', data);
                });
            }
        });
        $(".summernote").summernote({
            height: 300,
        });
        $(".select2").select2();
        $("form").on('submit', function () {
            $(".summernote").each(function (index, item) {
                var item = $(this);
                item.val(item.summernote('code'));
            });
        });
    </script>
{% endblock %}