{% extends '@Admin/layout/auth.layout.html.twig' %}

{% block main %}
    <section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-3 p-0">
            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                <div class="card-header no-border">
                    <div class="card-title text-xs-center">

                    </div>
                </div>
                <div class="card-body collapse in">
                    <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 mx-2 my-1"><span>Login To Innowait CMS</span></p>
                    <div class="card-block">
                        <form class="form-horizontal" action="{{ url('app_user_auth') }}" name="auth" novalidate method="POST">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control" name="_username" id="user-name" placeholder="Your Username" required>
                                <div class="form-control-position">
                                    <i class="ft-user"></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" class="form-control"  name="_password" id="user-password" placeholder="Enter Password" required>
                                <div class="form-control-position">
                                    <i class="fa fa-key"></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group row">
                                <div class="col-md-6 col-xs-12 text-xs-center text-sm-left">
                                    <fieldset>
                                        <input type="checkbox" name="_remember_me" id="remember-me" class="chk-remember">
                                        <label for="remember-me"> Remember Me</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-xs-12 float-sm-left text-xs-center text-sm-right hidden"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                            </fieldset>
                            <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block localJS %}
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{{ asset('back/app-assets/vendors/js/modal/sweetalert.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('back/app-assets/js/scripts/forms/form-login-register.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
{% endblock %}