{% extends '@Admin/layout/app.layout.html.twig' %}

{% block main %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Stats -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" id="heading-links">
                            <h4 class="card-title">Welcome to Innowait Solutions CMS</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Current version of Innowait CMS in in progress, if you found any bugs - contact us via support@innowait.solutions</p>
                            <p class="card-text">This Dashboard will soon contain different reports based on your modules & needs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block localJS %}
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{{ asset('back/app-assets/js/scripts/pages/dashboard-ecommerce.js') }}" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
{% endblock %}