{% include '@Admin/block/app.header.block.html.twig' %}

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">

{% include '@Admin/block/header.navbar.block.html.twig' %}
<!-- ////////////////////////////////////////////////////////////////////////////-->

{% include '@Admin/block/menu.block.html.twig' %}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        {% include '@Admin/block/flash.messages.block.html.twig' %}
    </div>
    {% block main %}{% endblock %}
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; {{ "now" | date('Y') }} <a href="https://www.innowait.solutions" target="_blank" class="text-bold-800 grey darken-2">Innowait Solutions Ltd </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span></p>
</footer>

<!-- BEGIN VENDOR JS-->
<script src="{{ asset('back/app-assets/vendors/js/vendors.min.js') }}" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{{ asset('back/app-assets/vendors/js/charts/raphael-min.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/vendors/js/charts/morris.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/vendors/js/extensions/unslider-min.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/vendors/js/timeline/horizontal-timeline.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/vendors/js/forms/select/select2.full.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/vendors/js/forms/tags/bootstrap-tagsinput.min.js') }}" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<!-- BEGIN STACK JS-->
<script src="{{ asset('back/app-assets/js/core/app-menu.js') }}" type="text/javascript"></script>
<script src="{{ asset('back/app-assets/js/core/app.js') }}" type="text/javascript"></script>
<!-- END STACK JS-->
{% block localJS %}{% endblock %}
</body>
</html>