{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Testimonial</p>
                                    </div>
                                    <form class="form form-horizontal submit-form" data-id="{{ item.id }}" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> Language Specific Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="question">Question</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="question" class="form-control" placeholder="Question" name="{{ language.key }}[question]" value="{{ item.languageData(language.key).question }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="description">Answer</label>
                                                        <div class="col-md-9">
                                                            <textarea type="text" id="answer" class="form-control" placeholder="Answer" name="{{ language.key }}[answer]">{{ item.languageData(language.key).answer }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <link type="text/css" rel="stylesheet" href="{{ asset('back/app-assets/vendors/js/dropzone/dropzone.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('back/app-assets/vendors/js/dropzone/basic.min.css') }}">
    <script src="{{ asset('back/app-assets/vendors/js/dropzone/dropzone.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8l0h_JSMTiYsSGw5ymxaHM8zCo-LOczw" defer></script>
    <script>
        $(document).ready(function () {
            var mediaBlock = $(".media");
            if (mediaBlock.length > 0) {
                mediaBlock.dropzone({
                    url: mediaBlock.data('url'),
                });
            }
            
            $(".delete-media").click(function () {
                var deleteButton = $(this);
                var url = deleteButton.data('url');

                $.ajax({
                    url: url,
                    success: function (response) {
                        if (response.success) {
                            deleteButton.parent().parent().remove();
                        }
                    }
                });
            });

            $("input[name='ongoing']").change(function () {
                var inputBlock = $("input[name='ongoing']");
                var finishedBlock = $("input[name='finish']");
                if (inputBlock.is(':checked')) {
                    finishedBlock.val('');
                }
            });
            var marker;
            // The location of Uluru
            var lat = parseFloat($("input[name='lat']").val());
            var lng = parseFloat($("input[name='lng']").val());

            var uluru = {lat: 52.944059, lng: -2.4221312};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 7, center: uluru});
            // The marker, positioned at Uluru

            if (lat && lng && lat != '' && lng != '') {
                var m = {
                    lat: lat,
                    lng: lng
                };
                map.setCenter(m);
                addMarker(m, map);
            }

            google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
            });

            function addMarker(location, map) {
                if (marker && marker !== undefined) {
                    marker.setMap(null);
                }

                marker = new google.maps.Marker({
                    position: location,
                    label: '!',
                    map: map
                });

                if (typeof location['lat'] == 'function') {
                    $("input[name='lat']").val(location.lat());
                    $("input[name='lng']").val(location.lng());
                } else {
                    $("input[name='lat']").val(location.lat);
                    $("input[name='lng']").val(location.lng);
                }
            }
        });
    </script>
{% endblock %}