<html>
    <body>
        <h1>New Application</h1>
    <p>
        Hi,<br>
        <br>
        You have got a new application on Liquidec Web-Site:<br>
        {{ url('app_admin_section_edit', {'section': 'applications', 'id': application.id}) }}<br><br>
        Kind Regards,<br>
        Liquidec Website
    </p>
    </body>
</html>