<html>
    <body>
        <h1>New Order</h1>
    <p>
        Hi,<br>
        <br>
        You have got a new order on Liquidec Web-Site:<br>
        <h2>Customer Info</h2>
        <p><b>Fullname:</b> {{ order.fullName }}</p>
        <p><b>Email:</b> {{ order.email }}</p>
        <p><b>Phone:</b> {{ order.phone }}</p>
        <br>
        <h2>Product Info</h2>
        <p><b>Product:</b> {{ product.languageData(app.request.locale).name }} ({{ product.category.languageData(app.request.locale).name }})</p>
        <p><b>Quantity:</b> {{ order.quantity }}</p>
        <p><b>Price per item:</b> £{{ order.pricePerUnit }}</p>
        <p><b>Total Price:</b> £{{ order.totalPrice }}</p>
        <p><b>Link to product:</b> <a href="{{ url('app_catalog_item_single', { category: order.catalogItem.category.languageData(app.request.locale).slug, slug: order.catalogItem.languageData(app.request.locale).slug }) }}">CLICK HERE</a></p>
        <br>
        <br>
        <br>
        Kind Regards,<br>
        LiquiDec Website
    </p>
    </body>
</html>