{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Catalog Category</p>
                                    </div>
                                    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="name">Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="name" class="form-control" placeholder="Name" name="{{ language.key }}[name]" value="{{ item.languageData(language.key).name }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="description">Description</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="description" class="form-control" placeholder="Description" name="{{ language.key }}[description]" value="{{ item.languageData(language.key).description }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <h4 class="form-section"><i class="ft-user"></i> Additional Information</h4>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="name">Background</label>
                                                <div class="col-md-9">
                                                    <label class="custom-file center-block block">
                                                        <input type="file" id="file" name="background" class="custom-file-input">
                                                        <span class="custom-file-control"></span>
                                                    </label>
                                                    {% if item.background %}
                                                        <img src="{{ asset('uploads/catalog-category/' ~ item.background) }}" width="100">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="video">YouTube Code</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="video" class="form-control" placeholder="Something like xHiy3U7kn" name="video" value="{{ item.video }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="name">Blocks</label>
                                                <div class="col-md-9">
                                                    <select name="blocks[]" class="form-control select2" multiple="multiple">
                                                        {% for block in additional.blocks %}
                                                            <option value="{{ block.id }}" {% if item.blocks.contains(block) %}selected{% endif %}>{{ block.languageData(locale).title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <script>
        $(".select2").select2();
    </script>
{% endblock %}