

@import "configuration/variables";
@import "../node_modules/bootstrap/scss/bootstrap";


@import "components/c-slideshow";
@import "components/c-menu";
@import "components/c-languages";
@import "components/c-section";
@import "components/c-service";
@import "components/c-member";
@import "components/c-faq";
@import "components/c-footer";
@import "components/c-burger";
@import "components/c-gallery";
@import "components/c-testimonial";
@import "components/c-services";
@import "components/c-team";
@import "components/c-about";
@import "components/c-cookies";
@import "components/c-intro";


html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: #557A95;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.c-hidden {
  display: none;
}


.btn-success {

}
.c-required {
  &.c-required__error {
    border: 1px #880000 solid;
  }
}

.scroll-downs {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width : 150px;
  height: 85px;
  text-align: center;
  .label {
    color: #FFF;
    margin-top: 10px;
    position:relative;
    left: 6px;
  }
}
.mousey {
  width: 1px;
  height: 55px;
  opacity: 0.75;
  box-sizing: content-box;
  margin: auto;
  background: $color-white;
  position: relative;
  left: 5px;
  .scroller {
    width: 11px;
    height: 11px;
    position: relative;
    right: 5px;
    border-radius: 10px;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
}

.swipey {
  width: 55px;
  height: 1px;
  opacity: 0.75;
  box-sizing: content-box;
  margin: auto;
  background: $color-white;
  position: relative;
  bottom: 27px;
  left: 5px;
  .scroller {
    width: 11px;
    height: 11px;
    position: relative;
    bottom: 5px;
    border-radius: 10px;
    background-color: #fff;
    animation-name: scroll-right;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
}


@keyframes scroll {
  0% { transform: translateY(0); opacity: 0; }
  30% { transform: translateY(15px); opacity: 1; }
  100% { transform: translateY(40px); opacity: 0;}
}

@keyframes scroll-right {
  0% { transform: translateX(40px); opacity: 0; }
  30% { transform: translateX(15px); opacity: 1; }
  100% { transform: translateX(00px); opacity: 0;}
}


.btn {
  text-shadow: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 30px;
  &.btn-white {
    border: 2px #FFF solid;
    background: transparent;
    text-shadow: none;
    color: #FFF;
    &:hover {
      background: #FFF;
      color: $color-primary;
    }
    &.btn-white__alt {
      &:hover {
        color: $color-secondary;
      }
    }
    &.btn-white__grey {
      &:hover {
        color: #A2A2A2;
      }
    }
  }
  &.btn-main {
    border: 2px $color-red solid;
    background: transparent;
    text-shadow: none;
    color: $color-red;
    &:hover {
      background: $color-red;
      color: $color-white;
    }
    &.btn-white__alt {
      &:hover {
        color: $color-secondary;
      }
    }
    &.btn-white__grey {
      &:hover {
        color: #A2A2A2;
      }
    }
  }
  &.btn-square {
    border-radius: 5px;
  }
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.special-underline {
  //border-bottom: 2px $color-red solid;
  display: inline-block;
  padding-bottom: 3px;
  font-weight: bold;
}

.js-animate {
  opacity: 0;
  transition: opacity 300ms linear;
  &.js-animate__opened {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .btn {
    background: #FFF;
    color: $color-primary;
    &.btn-white {
      border: 2px #FFF solid;
      background: #FFF;
      color: $color-primary;
      &:hover {
        background: #FFF;
        color: $color-primary;
      }
      &.btn-white__alt {
        background: #FFF;
        &:hover {
          color: $color-secondary;
        }
      }
      &.btn-white__grey {
        &:hover {
          color: #A2A2A2;
        }
      }
    }
    &.btn-main {
      border: 2px $color-red solid;
      background: $color-red;
      color: $color-white;
      text-shadow: none;
      &:hover {
        background: $color-red;
        color: $color-white;
      }
      &.btn-white__alt {
        &:hover {
          color: $color-secondary;
        }
      }
      &.btn-white__grey {
        &:hover {
          color: #A2A2A2;
        }
      }
    }
    &.btn-square {
      border-radius: 5px;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}