{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Menu</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Menu</p>
                                    </div>
                                    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> Language Specific Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="name">Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="name" class="form-control" placeholder="Name" name="{{ language.key }}[name]" value="{{ item.languageData(language.key).name }}">
                                                        </div>
                                                    </div>
                                                    <h4 class="form-section"><i class="ft-user"></i> Menu Items</h4>
                                                    <div class="menu-items" data-lang="{{ language.key }}">
                                                        {% for link in item.languageData(language.key).links %}
                                                            <div class="menu-item" data-lang="{{ language.key }}">
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                        {% if link['page'] | first == '/' %}
                                                                            <input class="form-control select-page" name="{{ language.key }}[items][{{ loop.index }}][page]" value="{{ link['page'] }}">
                                                                        {% else %}
                                                                            <select class="form-control select-page" name="{{ language.key }}[items][{{ loop.index }}][page]">
                                                                                <option value="">-- Select Page --</option>
                                                                                <option {% if url('homepage_language') == link['page'] %}selected{% endif %} value="{{ url('homepage_language') }}">Home</option>
                                                                                {% for page in additional.pages %}
                                                                                    <option {% if url('app_static_single', { slug: page.slug }) == link['page'] %}selected{% endif %} value="{{ url('app_static_single', { slug: page.slug }) }}">{{ page.title }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text" id="name" name="{{ language.key }}[items][{{ loop.index }}][title]" class="page-title form-control" placeholder="Menu Title" value="{{ link.title }}">
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <div class="btn btn-success add-menu-item">+</div>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                        <div class="btn btn-danger remove-menu-item">-</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        {% if item.languageData(language.key).links | length > 0 %}
                                                            {% set amount = item.languageData(language.key).links | length + 1 %}
                                                        {% else %}
                                                            {% set amount = 1 %}
                                                        {% endif %}
                                                        <div class="menu-item" data-lang="{{ language.key }}">
                                                            <div class="form-group row">
                                                                <div class="col-md-4">
                                                                    <select class="form-control select-page" data-lang="{{ language.key }}" data-amount="{{ amount }}" name="{{ language.key }}[items][{{ amount }}][page]">
                                                                        <option value="">-- Select Page --</option>
                                                                        <option value="{{ url('homepage_language') }}">Home</option>
                                                                        {% for page in additional.pages %}
                                                                            <option value="{{ url('app_static_single', { slug: page.slug }) }}">{{ page.title }}</option>
                                                                        {% endfor %}
                                                                        <option value="">Custom URL</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="text" id="name" name="{{ language.key }}[items][{{ amount }}][title]" class="page-title form-control" placeholder="Menu Title" value="">
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="btn btn-success add-menu-item">+</div>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="btn btn-danger remove-menu-item">-</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block localJS %}
    <script>
        $(document).delegate(".add-menu-item", "click", function () {
            var item = $(this);
            var itemBlock = item.parent().parent().parent();
            var language = itemBlock.data('lang');
            var clone = itemBlock.clone();
            var length = $(".menu-item").length + 1;
            clone.find('select.select-page').attr('name', language + "[items]["+length+"][page]").val('');
            clone.find('input.page-title').attr('name', language + "[items]["+length+"][title]").val('');
            clone.appendTo('.menu-items[data-lang="'+language+'"]');
        });
        $(document).delegate(".remove-menu-item", "click", function () {
            var item = $(this);
            var itemBlock = item.parent().parent().parent();
            itemBlock.remove();
            $(".menu-item").each(function () {
                var itemBlock = $(this);
                var language = itemBlock.data('lang');
                var length = itemBlock.index() + 1;
                itemBlock.find('select.select-page').attr('name', language + "[items]["+length+"][page]");
                itemBlock.find('input.page-title').attr('name', language + "[items]["+length+"][title]");
            });
        });
        $(document).delegate('select.select-page', "change", function () {
            var selectBlock = $(this);
            var inputBlock = selectBlock.parent().parent().find("input.page-title");
            var val = selectBlock.find('option:selected').val();
            if (val === '') {
                let lang = selectBlock.data('lang');
                let amount = selectBlock.data('amount');
                let name = lang + "[items]" + "["+amount+"][page]";
                selectBlock.parent().html('<input class="form-control" name="'+name+'">');
            }
            inputBlock.val(selectBlock.find('option:selected').text());
        });
    </script>
{% endblock %}