.c-about {
  .c-about--text {
    margin-top: 20%;
    span {
      text-shadow: $text-shadow-narrow;
      position: relative;
      right: 100px;
      font-size: 35px;
      font-weight: bold;
      display: block;
    }
  }
  .c-about--image {
    box-shadow: $box-shadow;
  }
  .c-about--link {
    margin-top: 30px;
    font-size: 23px;
    display: inline-block;
    //border-bottom: 2px $color-red solid;
    font-weight: bold;
  }

  .c-about--graph {
    .c-about--graph--title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .c-about--graph--content {
      font-weight: lighter;
      img {
        margin-top: 20px;
      }
    }
  }

  .c-about--title {
    font-size: 22px;
    border-bottom: 2px $color-red solid;
    display: inline-block;
    margin-bottom: 20px;
  }
  .c-about--info {
    font-size: 18px;
    line-height: 32px;
    font-weight: lighter;
  }
}

@media (max-width: 800px) {
  .c-about {
    .c-about--text {
      span {
        right: 0;
      }
    }
    .c-about--title {
      margin-top: 10px;
    }

    .c-about--graph {
      .c-about--graph--content {
        font-weight: normal;
      }
    }
  }
}