.c-burger {
  width: 40px;
  .c-burger--line {
    width: 100%;
    height: 1px;
    background: $color-white;
    margin-bottom: 12px;
    float: right;
    transition: all 300ms linear;
  }
  &:hover {
    .c-burger--line {
      &:nth-of-type(1) {
        width: 100%;
      }
      &:nth-of-type(2) {
        width: 80%;
      }
      &:nth-of-type(3) {
        width: 50%;
      }
    }
  }
}