.c-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-gray-primary;
  z-index: 999999999;
  color: #FFF;
  padding: 15px;
  .c-cookies--icon {
    text-align: right;
    font-size: 30px;
  }
  .c-cookies--caption {
    font-size: 12px;
  }
  .c-cookies--button {
    text-align: right;
    cursor: pointer;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .c-cookies {
    .c-cookies--icon {
      font-size: 11px;
    }
    .c-cookies--caption {
      font-size: 10px;
    }
    .c-cookies--button {
      .c-button {
        display: inline-block;
        border: 1px white solid;
        border-radius: 16px;
        padding: 5px 30px;
        font-size: 12px;
      }
    }
  }
}