.c-faq {
  .c-faq--question--border {
    .c-faq--question {
      position: relative;
      background: $color-gray;
      border-radius: 10px;
      padding: 10px 20px;
      opacity: 0.8;
      transition: all 300ms linear;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        opacity: 1;
      }
      .c-faq--question--icon {
        display: inline-block;
        position: relative;
        font-size: 30px;
      }
      .c-faq--question--content {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        bottom: 3px;
      }
      .c-faq--question--arrow {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        transition: all 300ms linear;
      }
    }
  }

  .c-faq--answer {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
  }

  &.c-faq__opened {
    .c-faq--answer {
      height: auto;
      padding: 10px 20px;
      background: $color-gray-secondary;
    }
    .c-faq--question {
      .c-faq--question--arrow {
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 800px) {
  .c-faq {
    .c-faq--question--border {
      .c-faq--question {
        .c-faq--question--icon {
          width: 25px;
          vertical-align: top;
        }
        .c-faq--question--content {
          width: calc(100% - 50px);
          margin-left: 0;
          padding-right: 10px;
          position: relative;
          vertical-align: top;
          top: 3px;
          margin-bottom: 10px;
        }
        .c-faq--question--arrow {
          width: 25px;
          vertical-align: top;
        }
      }
    }
  }
}