.c-footer {
  position: relative;
  &.c-footer__fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 22;
  }
  &.c-footer__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    &.c-footer__active {
      .c-footer--form {
        &.c-footer--form__opened {
          width: 100%;
        }
      }
    }
  }
  .c-footer--address {
    position: absolute;
    top: calc(50% - 150px);
    left: 20px;
    width: 100%;
    z-index: 10;
    color: #FFF;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: lighter;

    .c-footer--address--title {
      font-size: 24px;
    }

    .c-footer--address--socials {
      .c-footer--address--socials--social {
        margin-right: 15px;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        text-align: center;
        line-height: 37px;
        font-size: 18px;
        background: $color-white;
        color: $color-primary;
        display: inline-block;
      }
    }

    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }

  .c-footer--top {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    color: $color-white;
    z-index: 10;
    text-align: center;
    font-weight: lighter;
    cursor: pointer;
    font-size: 22px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  }
  .c-footer--form {
    overflow: hidden;
    background: $color-white;
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 0;
    transition: all 300ms linear;
    opacity: 0;
    padding: 0;
    box-shadow: $box-shadow;
    &.c-footer--form__opened {
      width: 50%;
      opacity: 1;
      padding: 50px 50px 20px;
    }
    .c-footer--form--close {
      position: absolute;
      top: 30px;
      right: 20px;
      cursor: pointer;
    }
  }

  .c-footer--copyright {
    padding: 10px;
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  .c-footer {
    .c-footer--address {
      top: calc(40% - 150px);
    }
    .c-footer--form {
      padding: 0;
      &.c-footer--form__opened {
        width: 100%;
        opacity: 1;
        padding: 50px 50px 20px;
      }
    }

    .c-footer--address {
      color: $color-black;
    }
  }
}