.c-gallery {
  height: 600px;
  position: relative;
  margin: 0 200px;
  //&:hover {
  //  transform: scale(1.05);
  //}
  .c-gallery--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  .c-gallery--caption {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-red;
    bottom: -80px;
    right: -55px;
    font-weight: bolder;
    font-size: 140px;
    position: absolute;
    background: transparent;
    color: transparent;
    opacity: 0;
  }
}

.gallery-carousel {
  margin: 50px 0;
  .owl-stage-outer {
    overflow: visible !important;
    .owl-stage {
      overflow: visible !important;
    }
  }

  .owl-nav {
    .owl-prev {
      &:after {
        content: " ";
        position: absolute;
        left: -5px;
        top: -55px;
        width: 80px;
        height: 160px;
        opacity: 0;
        background: rgba(255,255,255,0.5);
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        transition: all 300ms linear;
        z-index: 8;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    .owl-next {
      &:after {
        content: " ";
        position: absolute;
        right: -5px;
        top: -55px;
        width: 80px;
        height: 160px;
        opacity: 0;
        background: rgba(255,255,255,0.5);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        transition: all 300ms linear;
        z-index: 8;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .owl-dots {
    margin-top: 30px;
  }
  .owl-item {
    //transform: scale(0.8);
    //transition: all 300ms linear;
    &.active {
      //transform: scale(1);
      .c-gallery--caption {
        opacity: 1;
      }
    }
  }
}