.c-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: $color-white;
  z-index: 9999;
  .c-intro--content {
    position: relative;
    top: calc(50% - 50px)
  }
  .c-intro--logo {
    img {
      height: 150px;
    }
    display: inline-block;
    padding-right: 40px;
  }
  .c-intro--caption {
    border-left: 1px black solid;
    padding-left: 40px;
    display: inline-block;
    font-size: 18px;
    height: 150px;
    line-height: 150px;
    text-transform: uppercase;
  }
}


@media (max-width: 800px) {
  .c-intro {
    .c-intro--content {
      top: calc(50% - 120px)
    }
    .c-intro--logo {
      display: block;
      padding: 0;
    }
    .c-intro--caption {
      display: block;
      border-left: 0;
      padding: 0;
    }
  }
}