.c-languages {
  .c-language {
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 300ms linear;
    &:first-of-type {
      padding-top: 3px;
      padding-bottom: 5px;
      border-top: 1px transparent solid;
      border-bottom: 1px $color-white solid;
    }
    &:last-of-type {
      border-bottom: 1px transparent solid;
    }
    &:hover {
      &:first-of-type {
        border-top: 1px $color-white solid;
      }
      &:last-of-type {
        border-bottom: 1px $color-white solid;
      }
    }
  }
}