.c-member {
  text-align: center !important;
  margin-top: 20px;
  img {
    width: 50%;
    border: 4px #FFF solid;
    border-radius: 200px;
    padding: 15px;
    transition: all 300ms linear;
    &:hover {
      padding: 0;
    }
  }
  .c-member--name {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .c-member--description {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .c-member--quote {

  }
}