$menu-height: 90px;
.c-menu {
  top: 10px;
  left: 0;
  width: 100%;
  height: $menu-height;
  z-index: 2;
  padding: 20px 0;
  position: fixed;
  &.c-menu__fixed {
    position: fixed;
    z-index: 20;
    top: 0;
    padding: 15px 0;
    background: rgba(0,0,0,0.4);
    .c-menu--logo {
      img {
        height: 60px;
      }
      .c-menu--logo--award {
        position: absolute;
        bottom: 0;
        right: 69px;
        img {
          width: 60px;
        }
      }
    }
    .c-menu--items {
      .c-menu--items--item {
        &.c-menu--items--item__burger {
          padding-top: 20px;
          position: relative;
          bottom: 0;
          .fa {
            filter: none;
            text-shadow: none;
          }
          .c-burger {
            width: 30px;
            .c-burger--line {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

  }
  .c-menu--logo {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    .c-menu--logo__black {
      display: none;
    }
    .c-menu--logo--award {
      position: absolute;
      bottom: -26px;
      left: 146px;
      img {
        width: 70px;
      }
    }
  }
  .c-menu--languages {
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
    color: $color-white;
  }
  .c-menu--items {
    margin-right: 30px;
    text-align: right;
    .c-menu--items--item {
      display: inline-block;
      margin-left: 20px;
      color: $color-white;
      cursor: pointer;
      transition: all 300ms linear;
      &.c-menu--items--item__languages {
        position: relative;
        top: 9px;
      }
      &.c-menu--items--item__burger {
        padding-top: 26px;
        font-size: 50px;
        position: relative;
        z-index: 25;
      }
      .fa {

      }
      a {
        color: inherit;
      }
    }
  }
}

.c-menu-full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.9);
  transition: all 200ms linear;
  overflow: hidden;
  .c-menu-full--logo {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &.c-menu-full__opened {
    height: 100%;
  }
  .c-menu-full--close {
    position: absolute;
    top: 55px;
    right: 30px;
    z-index: 10;
  }
  .c-menu-full--items {
    text-align: left;
    margin-left: 10%;
    margin-top: calc(10%);
    .c-menu-full--items--socials {
      margin-top: 10%;
    }
    .c-menu-full--items--item {
      font-size: 30px;
      margin-bottom: 40px;
      color: $color-white;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
          border-bottom: 4px $color-red solid;
        }
      }
      &.no-margin {
        margin-bottom: 0;
      }
      &.c-menu-full--items--item__social {
        font-size: 17px;
        margin-left: 40%;
        opacity: 0.6;
        cursor: pointer;
        transition: all 300ms linear;
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
            border-bottom: 0;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
      &.c-menu-full--items--item__languages {
        margin-left: 40%;
        margin-top: 30px;
        cursor: pointer;
        transition: all 300ms linear;
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
            border-bottom: 0;
          }
        }
        .language {
          opacity: 0.7;
          transition: all 300ms linear;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.c-close {
  font-size: 50px;
  transition: all 300ms linear;
  color: $color-white;
  cursor: pointer;
  height: 30px;
  &.c-close__dark {
    .c-close--line {
      background: $color-black;
    }
  }
  &:hover {
    .c-close--line {
      &:nth-of-type(1) {
        transform: rotate(35deg);
      }
      &:nth-of-type(2) {
        transform: rotate(-35deg);
      }
    }
  }
  .c-close--line {
    background: $color-white;
    width: 40px;
    height: 1px;
    position: relative;
    top: 14px;
    transition: all 300ms linear;
    &:nth-of-type(1) {
      transform: rotate(30deg);
    }
    &:nth-of-type(2) {
      transform: rotate(-30deg);
    }
  }
}

@media (max-width: 800px) {
  .c-menu-full {
    .c-menu-full--items {
      margin-left: 0%;
      .c-menu-full--items--item {
        font-size: 20px;
        margin-bottom: 30px;
        &.c-menu-full--items--item__languages {
          margin: auto;
          img {
            width: 40px;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .c-menu-full {
    .c-menu-full--items {
      .c-menu-full--items--item {
        &.c-menu-full--items--item__languages {
          img {
            width: 40px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}