.c-section {
  padding: 80px 0;
  position: relative;
  width: 100%;
  margin: 0;
  .c-section--backtitle {
    position: absolute;
    font-size: 200px;
    font-weight: bold;
    top: 0;
    right: 10%;
    opacity: 0.15;
    z-index: 0;
  }
  .c-section--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  .c-section--internal {
    position: relative;
    z-index: 1;
    .c-section--internal--title {
      &.c-section--internal--title__small {
        font-size: 1.2rem;
        border-top: 3px white solid;
        padding-top: 20px;
      }
      font-size: 3rem;
    }
  }
  &.c-section__page {
    overflow: hidden;
  }
  &.c-section__services {
    background: #B1A296;
  }
  &.c-section__high {
    .c-section--internal {
      margin: 100px 0 50px;
    }
  }
  &.c-section__gray {
    background: $color-gray-primary;
    color: #FFF;
  }
  &.c-section__gallery {
    background: $color-gray-secondary;
    color: #FFF;
    min-height: 70vh;
  }
  &.c-section__feedback {
    background: $color-gray-third;
    color: #FFF;
    min-height: 70vh;
  }
  &.c-section__dark {
    background: $color-black;
    color: #FFF;
  }
  &.c-section__pink {
    background: $color-secondary;
    color: $color-white;
    .c-section--title {
      span {
        border-color: $color-white;
      }
      h2 {
        font-size: inherit !important;
      }
    }
  }
  &.c-section__blue {
    background: $color-secondary;
    color: $color-white;
  }
  &.c-section__no-bottom {
    padding-bottom: 0;
  }
  &.c-section__parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  &.c-section__background {
    color: $color-white;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-position: center;
  }

  .c-section--title {
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    text-align: left;
    span {
      //border-bottom: 2px $color-primary solid;
      padding-bottom: 1px;
      &.white {
        //border-bottom: 2px $color-white solid;
      }
      &.alt {
        //border-bottom: 2px $color-secondary solid;
      }
    }
  }

  .c-section--content {
    margin-bottom: 20px;

    &.c-section--content__big {
      margin-top: 170px;
    }
  }
}


@media (max-width: 800px) {
  .c-section {
    .c-section--content {
      &.c-section--content__big {
        margin-top: 50px;
      }
    }
    &.c-section__services {
      overflow: scroll;
    }

    .c-section--backtitle {
      opacity: 0;
    }
  }
}