.c-service {
  min-height: 200px;
  overflow: hidden;
  transition: all 300ms linear;
  position: relative;
  width: 100%;
  background: $color-gray-secondary;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    .c-service--image {
      opacity: 0.2;
    }
    .c-service--title {
      opacity: 1;
    }
  }
  .c-service--image {
    img {
      width: 100%;
      height: 100%;
    }
    transition: opacity 300ms linear;
  }

  .c-service--title {
    transition: opacity 300ms linear;
    position: absolute;
    opacity: 0;
    width: 100%;
    margin-top: 28%;
    font-size: 26px;
    color: $color-white;
    text-align: center;
    top: 0;
    left: 0;
  }
}

.owl-carousel {

  &.gallery-carousel {

    &.owl-theme {
      position: relative;
      .owl-nav {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: calc(50% - 40px);
        margin: 0;
        .owl-prev, .owl-next {
          position: absolute;
          color: $color-white;
          z-index: 10;
          outline: none;
          transition: transform 300ms linear;
          img {
            width: 50px;
            position: relative;
            z-index: 10;
          }
          &:hover {
            background: none;
          }
        }
        .owl-prev {
          left: 0px;
          img {
            transform: rotate(180deg);
          }
        }
        .owl-next {
          right: 0px;
        }
      }

      .owl-dots {
        .owl-dot {
          outline: none;
          &.active {
            span {
              background: $color-primary;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1668px) {
  .c-service {
    .c-service--image {
      opacity: 0.2;
    }
    .c-service--title {
      opacity: 1;
    }
  }

  .owl-carousel {
    &.gallery-carousel {
      &.owl-theme {
        .owl-nav {
          .owl-prev {
            left: 0px;
          }
          .owl-next {
            right: 0px;
          }
        }
      }
    }
  }
}