.c-services {
  .c-services--menu {
    position: relative;
    bottom: 4px;
  }
  .c-services--service {
    font-size: 26px;
    cursor: pointer;
    span {
      transition: border-bottom 200ms linear;
      border-bottom: 0;
      &:hover {
        text-decoration: none;
        border-bottom: 2px $color-red solid;
      }
    }
    &.c-services--service__active {
      font-weight: bold;
    }
  }
  .c-services--content {
    display: none;
    &.c-services--content__active {
    }
  }
}

@media (max-width: 1668px) {
  .c-services {
    .c-services--menu {
      .c-services--service {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .c-services {
    .c-services--menu {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}