$slide-height: 700px;


.c-slideshow {
  min-height: 100vh;
  position: relative;
  .c-slideshow--slide {

  }

  .owl-carousel {
    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 20px;
      .owl-dot {
        outline: none;
        span {
          width: 20px;
          height: 20px;
          border-radius: 20px;
          background: transparent;
          border: 2px $color-white solid;
        }
        &.active {
          span {
            background: $color-white;
          }
        }
      }
    }
  }
}

.c-slide {
  height: $slide-height;
  width: 100%;
  background-size: cover;
  color: $color-black;
  position: relative;
  .c-slide--background {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .c-slide--text {
    position: absolute;
    top: calc(50% - 50px);
    width: 500px;
    .c-slide--content {
      position: relative;
      z-index: 2;
      font-size: 40px;
      margin-bottom: 20px;
      color: #FFF;
      font-weight: bold;
      text-shadow: 1px 1px 1px #000;
      &:before {
        content: ' ';
        position: absolute;
        font-style: italic;
        width: 40px;
        height: 40px;
        background-image: url('../media/images/icon/quote-white.png');
        background-size: cover;
        font-family: 'Palanquin Dark';
        top: -20px;
        left: -43px;
        color: $color-white;
      }
    }
    .c-slide--cta {
      position: relative;
      z-index: 2;
    }
  }
}

@media (max-width: 800px) {
  .c-slideshow {
    overflow-x: hidden;
    .owl-carousel {
      .owl-dots {
        display: none;
      }
    }
  }


  .c-slide {
    .c-slide--text {
      top: calc(45% - 50px);
      width: 450px;
      .c-slide--content {
        font-size: 23px;
        padding-right: 140px;
        font-weight: bolder;
        color: #FFF;
        text-shadow: none;
        &:before {
          top: -36px;
          left: 0px;
        }

      }
    }
  }
}