.c-team {
  padding-top: 230px;
  .c-team--person {
    text-align: center;
    &.c-team--person__left {
      border-right: 1px $color-white solid;
      .c-person {
        text-align: left;
        .c-person--links {
          a {
            color: $color-white;
          }
          i {
            margin-right: 10px;
            margin-left: 0;
          }
        }
      }
    }
    .c-person {
      text-align: right;
      .c-person--avatar {
        img {
          width: 300px;
          height: 300px;
          background: $color-gray-primary;
          border-radius: 150px;
          margin: auto;
          margin-bottom: 20px;
        }
      }
      .c-person--name {
        font-size: 25px;
        color: $color-red;
        margin-bottom: 10px;
      }
      .c-person--role {
        margin-bottom: 10px;
      }
      .c-person--links {
        margin-bottom: 10px;
        a {
          color: $color-white;
        }
        i {
          margin-left: 10px;
          font-size: 25px;
        }
      }
      .c-person--description {
        margin-top: 20px;
        //border-top: 1px rgba(255,255,255,0.2) solid;
        //border-bottom: 1px rgba(255,255,255,0.2) solid;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}


@media (max-width: 800px) {
  .c-team {
    .c-team--person {
      margin-bottom: 50px;
      &.c-team--person__left {
        border-right: 0;
      }
    }
  }
}