.c-testimonial {
  margin-top: 20px;
  transform: scale(0.8);
  transition: all 300ms linear;

  .c-testimonial--content {
    border-radius: 15px;
    padding: 15px 15px 15px 110px;
    background: transparent;
    color: $color-white;
    transition: all 300ms linear;
    min-height: 140px;
    &:before {
      content: ' ';
      position: absolute;
      top: 15px;
      left: 25px;
      width: 60px;
      height: 60px;
      background-image: url('../media/images/icon/quote-black.png');
      background-size: cover;
      font-size: 201px;
      line-height: 150px;
      font-family: 'Palanquin Dark';
    }
  }
  .c-testimonial--author {
    margin: 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    border: 3px $color-white solid;
    position: relative;
    img {

    }
  }
  .c-testimonial--rating {
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 22px;
    .c-testimonial--rating--star {
      color: $color-red;
    }
  }
  .c-testimonial--text {
    position: absolute;
    bottom: 35px;
    right: 0;
    text-align: right;
    font-size: 12px;
    .c-testimonial--text--name {
      font-size: 18px;
    }
  }
}
.testimonials-carousel {
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-item {
    opacity: 0.8;
    &.active {

      &.center {
        opacity: 1;
        .c-testimonial {
          transform: scale(1);

          .c-testimonial--content {
            box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
            color: $color-black;
            background: $color-white;
          }
        }
      }
      .c-testimonial {
        .c-testimonial--content {

        }
      }
    }
  }

  .owl-dots {
    margin-top: 40px !important;
    .owl-dot {
      outline: none;
      span {
        width: 14px;
        height: 14px;
        background: none;
        border: 2px $color-white solid;
      }
      &.active {
        span {
          background: $color-white;
        }
      }
      &:hover {
        span {
          background: $color-white;
        }
      }
    }
  }
}

@media (max-width: 1668px) {
  .c-testimonial {
    .c-testimonial--rating {
      font-size: 14px;
    }
    .c-testimonial--author {
      margin: 0;
      position: relative;
      top: 40px;
      margin-bottom: 40px;
    }
    .c-testimonial--content {
      font-size: 12px;
    }
    .c-testimonial--text {
      .c-testimonial--text--role {
        font-size: 9px;
      }
    }
  }
}