{% extends '@Admin/layout/app.layout.html.twig' %}
{% block main %}
    <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
            <section id="horizontal-form-layouts">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Add Item</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="card-text">
                                        <p>Modify Translation</p>
                                    </div>
                                    <form class="form form-horizontal" method="POST">
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i> General Information</h4>

                                            <ul class="nav nav-tabs nav-top-border no-hover-bg nav-justified">
                                                {% for language in languages %}
                                                <li class="nav-item">
                                                    <a class="nav-link {% if loop.index == 1 %}active{% endif %}" id="active-tab1" data-toggle="tab" href="#data-{{ language.key }}" aria-controls="active1" aria-expanded="true">{{ language.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="tab-content px-1 pt-1">
                                                {% for language in languages %}
                                                <div role="tabpanel" class="tab-pane fade {% if loop.index == 1 %}active{% endif %} in" id="data-{{ language.key }}" aria-labelledby="active-tab1" aria-expanded="true">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="name">Translation</label>
                                                        <div class="col-md-9">
                                                            {% if item[language.key].type == 'STRING' %}
                                                            <textarea type="text" id="name" class="form-control" placeholder="Translation" name="{{ language.key }}">{% if item[language.key] is defined %}{{ item[language.key].translation }}{% endif %}</textarea>
                                                            {% endif %}
                                                            {% if item[language.key].type == 'TEXT' %}
                                                            <textarea type="text" id="name" class="form-control summernote" placeholder="Translation" name="{{ language.key }}">{% if item[language.key] is defined %}{{ item[language.key].translation }}{% endif %}</textarea>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="{{ url('app_admin_section_list', {'section': section}) }}">
                                                <button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block localJS %}
    <script>
        $(".summernote").summernote({
            height: 300,
        });
        $("form").on('submit', function () {
            $(".summernote").each(function (index, item) {
                var item = $(this);
                item.val(item.summernote('code'));
            });
        });
    </script>
{% endblock %}