{% set googleSearch = 'Speed Insights' in app.request.headers.get('User-Agent') %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-cookie="{{ "cookie-text" | translate('cookies') }}" data-cookie-button="{{ "accept" | translate('cookies') }}">
<head>
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), false) }}" />
    {% block seo %}
        <title>{% if page is defined %}{{ page.languageData(app.request.locale).title }} - {% endif %}Langedrag Housekeeping{% if page is not defined %} - reinventing cleaning{% endif %}</title>
        <meta name="description" content="{{ "seo-description" | translate('seo', 'plain') }}">
        <meta name="keywords" content="{{ "seo-keywords" | translate('seo', 'plain') }}">
    {% endblock %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('front/dist/main.min.css') }}?version=52" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('front/media/images/icon/favicon.png') }}?version=1" />
    {% block localCSS %}
    {% endblock %}

    {% include 'include/seo.include.html.twig' %}
</head>
<body data-cookies="{{ url('app_cookies_text') }}">
<div class="modal fade" id="contact123" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
    <div class="modal-dialog" role="contact">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="contact-form modal-form" data-url="{{ url('app_contact_send') }}">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{ "name" | translate('feedback') }}:</label>
                        <input type="text" class="form-control c-required" name="name" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{ "phone-number" | translate('feedback') }}:</label>
                        <input type="text" class="form-control c-required" name="phone" id="recipient-phone">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">{{ "email" | translate('feedback') }}:</label>
                        <input type="text" class="form-control c-required" name="email" id="recipient-email">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">{{ "message" | translate('feedback') }}:</label>
                        <textarea class="form-control c-required" name="message" id="message-text"></textarea>
                    </div>
                    <i class="text-muted mt-2">{{ "fallback-message" | translate('feedback') }}</i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "close" | translate('feedback') }}</button>
                <button type="button" class="btn btn-primary send-message modal-form">{{ "send-message" | translate('feedback') }}</button>
            </div>
        </div>
    </div>
</div>
    {% block intro %}
    {% endblock %}
    <header>
    {% include 'block/c-menu.html.twig' %}
    {% block slideshow %}
        {% if not googleSearch %}
            <div class="c-slideshow">
                <div class="owl-carousel owl-theme" data-dots="true" data-in="fadeIn" data-out="fadeOut">
                    {% for slide in slides %}
                    <div class="c-slideshow--slide c-slide">
                        <div class="c-slide--background"
                             {% if slide.mobileImage %}data-mobile="{{ asset('uploads/mobile_slide/bg_' ~ slide.mobileImage) }}"{% endif%}
                             data-image="{{ asset('uploads/slide/bg_' ~ slide.image) }}">
                        </div>
                        <div class="container">
                            <div class="c-slide--text">
                                <div class="c-slide--content">{{ slide.languageData(app.request.locale).title }}</div>
                                <div class="c-slide--cta">
                                    <a href="{{ slide.languageData(app.request.locale).link }}">
                                        <div class="btn btn-white">{{ "read-more" | translate('misc') }}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container position-relative">
                    <div class="scroll-downs">
                        <div class="mousey">
                            <div class="scroller"></div>
                        </div>
                        <div class="swipey d-block d-md-none d-lg-none d-xl-none">
                            <div class="scroller"></div>
                        </div>
                        <div class="label d-none d-sm-none d-md-block d-lg-block d-xl-block">{{ "scroll" | translate('header') }}</div>
                        <div class="label d-block d-sm-block d-md-none d-lg-none d-xl-none">{{ "scroll-and-swipe" | translate('header') }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    </header>
    {% block body %}
    {% endblock %}
    <style>

        @-moz-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }

        @-webkit-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }

        @-o-keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }

        @keyframes coccoc-alo-circle-anim {
            0% {
                transform: rotate(0) scale(.5) skew(1deg);
                opacity: .1
            }
            30% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .5
            }
            100% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .1
            }
        }

        @-moz-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }

        @-webkit-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }

        @-o-keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }

        @keyframes coccoc-alo-circle-fill-anim {
            0% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg);
                opacity: .2
            }
            100% {
                transform: rotate(0) scale(.7) skew(1deg);
                opacity: .2
            }
        }

        @keyframes coccoc-alo-circle-img-anim {
            0% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            5% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            10% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            15% {
                transform: rotate(-25deg) scale(1) skew(1deg)
            }
            20% {
                transform: rotate(25deg) scale(1) skew(1deg)
            }
            25% {
                transform: rotate(0) scale(1) skew(1deg)
            }
            50% {
                transform: rotate(0) scale(1) skew(1deg)
            }
        }


        .c-contact {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9998;
        }
        .c-contact--shape {
            width: 60px;
            height: 60px;
            background: white;
            border-radius: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 21px;
            box-shadow: 0 0 10px 2px rgba(0,0,0,30%);
            transition: all 300ms linear;
        }
        .c-contact--shape--icon {
            animation-name: coccoc-alo-circle-img-anim;
            animation-duration: 2s;
            animation-delay: 10s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-delay: 5s;
            display: inline-block;
        }
        .c-contact--shape:hover {
            cursor: pointer;
            width: 220px;
        }
        .c-contact--shape--icon:hover {
            animation-name: none;
        }
        .c-contact--shape--label {
            display: inline-block;
            margin-left: 10px;
            font-size: 14px;
        }
    </style>
    <div class="c-contact">
        <div class="c-contact--shape">
            <div class="c-contact--shape--icon"><i class="fa fa-envelope"></i></div>
            <div class="c-contact--shape--label">Contact Us</div>
        </div>
    </div>
</body>

<link href="{{ asset('front/node_modules/animate.css/animate.min.css') }}" rel="stylesheet">
<div class="js-load" data-href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap" rel="stylesheet"></div>
<script src="{{ asset('front/node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('front/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}" defer></script>
<link href="{{ asset('front/node_modules/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ asset('front/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet">
<div class="js-load" data-href="{{ asset('front/node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}"></div>
<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap" rel="stylesheet">
<script src="{{ asset('front/js/section.component.js') }}?version=9" defer></script>
{% block localJS %}
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="{{ asset('front/js/system.component.js') }}?version=9" defer></script>
{% if not googleSearch %}
<script async src="{{ asset('front/js/c-cookies.js') }}?version=4" defer></script>
{% endif %}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122457328-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122457328-1');

    $(document).ready(function () {
        $(".js-load").each(function () {
            let item = $(this);
            let link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = item.data('href');
            document.getElementsByTagName('HEAD')[0].appendChild(link);
        });

        $(".c-contact--shape").click(function (){
            $('#contact123').modal()
        });
    })
</script>

</html>